<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.database.rcp.views.DatabaseConnectionsView"
            icon="icons/database.png"
            id="de.uniol.inf.is.odysseus.database.rcp.views.DatabaseConnectionsView"
            name="Database Connections"
            restorable="true">
      </view>
   </extension>

</plugin>
