<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.uniol.inf.is.odysseus.rcp.editor.Keyword">
      <group
            colorB="0"
            colorG="0"
            colorR="0"
            name="PQLHack">
         <keyword
               name="ACCESS">
         </keyword>
         <keyword
               name="AS">
         </keyword>
         <keyword
               name="AND">
         </keyword>
         <keyword
               name="AVG">
         </keyword>
         <keyword
               name="BROKER">
         </keyword>
         <keyword
               name="COUNT">
         </keyword>
         <keyword
               name="DEFAULT">
         </keyword>
         <keyword
               name="JOIN">
         </keyword>
         <keyword
               name="LOGICAL">
         </keyword>
         <keyword
               name="MAX">
         </keyword>
         <keyword
               name="MIN">
         </keyword>
         <keyword
               name="NOT">
         </keyword>
         <keyword
               name="OR">
         </keyword>
         <keyword
               name="ON">
         </keyword>
         <keyword
               name="PLAN">
         </keyword>
         <keyword
               name="PREDICTION">
         </keyword>
         <keyword
               name="PROJECTION">
         </keyword>
         <keyword
               name="QUEUE">
         </keyword>
         <keyword
               name="RPROJECTION">
         </keyword>
         <keyword
               name="RSELECTION">
         </keyword>
         <keyword
               name="RJOIN">
         </keyword>
         <keyword
               name="RNEST">
         </keyword>
         <keyword
               name="RUNNEST">
         </keyword>
         <keyword
               name="SCHEMACONVERT">
         </keyword>
         <keyword
               name="SELECTION">
         </keyword>
         <keyword
               name="SET-PREDICTION">
         </keyword>
         <keyword
               name="SET-PREDICTION-OR">
         </keyword>
         <keyword
               name="SIZE">
         </keyword>
         <keyword
               name="SLIDE">
         </keyword>
         <keyword
               name="SLIDING-TIME-WINDOW">
         </keyword>
         <keyword
               name="SUM">
         </keyword>
         <keyword
               name="TUMBLING-TIME-WINDOW">
         </keyword>
         <keyword
               name="WHERE">
         </keyword>
         <keyword
               name="ASSOCIATION-GEN">
         </keyword>
         <keyword
               name="ASSOCIATION-EVAL">
         </keyword>
         <keyword
               name="ASSOCIATION-SEL">
         </keyword>
         <keyword
               name="ASSOCIATION-SRC">
         </keyword>
         <keyword
               name="EVALUATE">
         </keyword>
         <keyword
               name="FILTER-COVARIANCE">
         </keyword>
         <keyword
               name="FILTER-ESTIMATE">
         </keyword>
         <keyword
               name="FILTER-GAIN">
         </keyword>
         <keyword
               name="BUFFER">
         </keyword>
      </group>
   </extension>

</plugin>
