<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.rcp.ac.views.AdmissionStatusCPUView"
            icon="icons/monitor.png"
            id="de.uniol.inf.is.odysseus.rcp.ac.CPULoadView"
            name="CPU Status"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.rcp.ac.views.AdmissionStatusMemView"
            icon="icons/monitor.png"
            id="de.uniol.inf.is.odysseus.rcp.ac.MEMLoadView"
            name="MEM Status"
            restorable="true">
      </view>
   </extension>

</plugin>
