<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.rcp.viewer.server.views.OperatorBreakView"
            id="de.uniol.inf.is.odysseus.rcp.views.OperatorBreakView"
            name="Break Operator"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="isPhysicalQuery">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="de.uniol.inf.is.odysseus.core.server.planmanagement.query.IPhysicalQuery">
               </instanceof>
               <or></or>
            </iterate>
         </with>
      </definition>
      <definition
            id="isOperatorBreak">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="de.uniol.inf.is.odysseus.rcp.viewer.server.opbreak.OperatorBreak">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.uniol.inf.is.odysseus.rcp.viewer.server.commands.BreakOperatorCommand"
            commandId="de.uniol.inf.is.odysseus.rcp.commands.BreakOperatorCommand">
         <enabledWhen>
            <or>
               <reference
                     definitionId="isNodeView">
               </reference>
               <reference
                     definitionId="isOperatorBreak">
               </reference>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="de.uniol.inf.is.odysseus.rcp.viewer.server.commands.StepOperatorCommand"
            commandId="de.uniol.inf.is.odysseus.rcp.commands.StepOperatorCommand">
         <enabledWhen>
            <or>
               <reference
                     definitionId="isNodeView">
               </reference>
               <reference
                     definitionId="isOperatorBreak">
               </reference>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="de.uniol.inf.is.odysseus.rcp.viewer.server.commands.ResumeOperatorCommand"
            commandId="de.uniol.inf.is.odysseus.rcp.commands.ResumeOperatorCommand">
         <enabledWhen>
            <or>
               <reference
                     definitionId="isNodeView">
               </reference>
               <reference
                     definitionId="isOperatorBreak">
               </reference>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="de.uniol.inf.is.odysseus.rcp.viewer.server.commands.RemoveOperatorBreakCommand"
            commandId="de.uniol.inf.is.odysseus.rcp.commands.RemoveOperatorBreakCommand">
         <enabledWhen>
            <or>
               <reference
                     definitionId="isOperatorBreak">
               </reference>
               <reference
                     definitionId="isNodeView">
               </reference>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="de.uniol.inf.is.odysseus.rcp.viewer.server.commands.FlushOperatorBreakCommand"
            commandId="de.uniol.inf.is.odysseus.rcp.commands.FlushOperatorBreakCommand">
         <enabledWhen>
            <or>
               <reference
                     definitionId="isOperatorBreak">
               </reference>
               <reference
                     definitionId="isNodeView">
               </reference>
            </or>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:de.uniol.inf.is.odysseus.rcp.editors.GraphEditor">
         <separator
               name="additions"
               visible="false">
         </separator>
         <menu
               id="operator"
               label="Break Operator">
            <command
                  commandId="de.uniol.inf.is.odysseus.rcp.commands.BreakOperatorCommand"
                  label="Break"
                  style="push">
            </command>
            <command
                  commandId="de.uniol.inf.is.odysseus.rcp.commands.StepOperatorCommand"
                  label="Step"
                  style="push">
            </command>
            <command
                  commandId="de.uniol.inf.is.odysseus.rcp.commands.FlushOperatorBreakCommand"
                  label="Flush"
                  style="push">
            </command>
            <command
                  commandId="de.uniol.inf.is.odysseus.rcp.commands.ResumeOperatorCommand"
                  label="Resume"
                  style="push">
            </command>
            <separator
                  name="additions"
                  visible="true">
            </separator>
            <command
                  commandId="de.uniol.inf.is.odysseus.rcp.commands.RemoveOperatorBreakCommand"
                  label="Remove"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:de.uniol.inf.is.odysseus.rcp.views.OperatorBreakView">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.BreakOperatorCommand"
               label="Break"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.StepOperatorCommand"
               label="Step"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.FlushOperatorBreakCommand"
               label="Flush"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.ResumeOperatorCommand"
               label="Resume"
               style="push">
         </command>
         <separator
               name="additions"
               visible="true">
         </separator>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.RemoveOperatorBreakCommand"
               label="Remove"
               style="push">
         </command>
       </menuContribution>         
   </extension>
   <extension
         point="org.eclipse.ui.commands">
              <command
            id="de.uniol.inf.is.odysseus.rcp.commands.BreakOperatorCommand"
            name="Break Operator">
      </command>
      <command
            id="de.uniol.inf.is.odysseus.rcp.commands.StepOperatorCommand"
            name="Step Operator">
      </command>
      <command
            id="de.uniol.inf.is.odysseus.rcp.commands.ResumeOperatorCommand"
            name="Resume Operator">
      </command>
      <command
            id="de.uniol.inf.is.odysseus.rcp.commands.RemoveOperatorBreakCommand"
            name="Remove OperatorBreak">
      </command>
      <command
            id="de.uniol.inf.is.odysseus.rcp.commands.FlushOperatorBreakCommand"
            name="Flush OperatorBreak">
      </command>
   </extension>
</plugin>
