<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Recording"
            icon="icons/control-pause-record.png"
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.application.storing.view.views.RecordingView"
            id="de.uniol.inf.is.odysseus.application.storing.view.views.RecordingView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.uniol.inf.is.odysseus.application.storing.view.commands.StartRecordCommand"
            name="Start Recording">
      </command>
      <command
            id="de.uniol.inf.is.odysseus.application.storing.view.commands.PauseRecordingCommand"
            name="Pause Recording">
      </command>
      <command
            id="de.uniol.inf.is.odysseus.application.storing.view.commands.StopRecordingCommand"
            name="Stop Recording">
      </command>
      <command
            id="de.uniol.inf.is.odysseus.application.storing.view.commands.StartPlayingRecordCommand"
            name="Start Playing Record">
      </command>
      <command
            id="de.uniol.inf.is.odysseus.application.storing.view.commands.PausePlayingRecordCommand"
            name="Pause Playing">
      </command>
      <command
            id="de.uniol.inf.is.odysseus.application.storing.view.commands.StopPlayingRecordCommand"
            name="Stop Playing Record">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.application.storing.view.commands.NewRecordingCommand"
            id="de.uniol.inf.is.odysseus.application.storing.view.commands.NewRecordingCommand"
            name="Create Recording">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.uniol.inf.is.odysseus.application.storing.view.views.RecordingView">
         <command
               commandId="de.uniol.inf.is.odysseus.application.storing.view.commands.NewRecordingCommand"
               icon="icons/plus.png"
               style="push">
         </command>
         <separator
               name="separator1"
               visible="true">
         </separator>
         <command
               commandId="de.uniol.inf.is.odysseus.application.storing.view.commands.StartRecordCommand"
               icon="icons/control-record.png"
               label="Start Recording"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.application.storing.view.commands.PauseRecordingCommand"
               icon="icons/control-pause-record.png"
               label="Pause Recording"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.application.storing.view.commands.StopRecordingCommand"
               icon="icons/control-stop-record.png"
               label="Stop Recording"
               style="push">
         </command>
         <separator
               name="Separator"
               visible="true">
         </separator>
         <command
               commandId="de.uniol.inf.is.odysseus.application.storing.view.commands.StartPlayingRecordCommand"
               icon="icons/control.png"
               label="Start Playing Record"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.application.storing.view.commands.PausePlayingRecordCommand"
               icon="icons/control-pause.png"
               label="Pause Playing Record"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.application.storing.view.commands.StopPlayingRecordCommand"
               icon="icons/control-stop-square.png"
               label="Stop Playing Record"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:de.uniol.inf.is.odysseus.application.storing.view.views.RecordingView">
         <command
               commandId="de.uniol.inf.is.odysseus.application.storing.view.commands.NewRecordingCommand"
               icon="icons/plus.png"
               style="push">
         </command>
         <separator
               name="separator1"
               visible="true">
         </separator>
         <command
               commandId="de.uniol.inf.is.odysseus.application.storing.view.commands.StartRecordCommand"
               icon="icons/control-record.png"
               label="Start Recording"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.application.storing.view.commands.PauseRecordingCommand"
               icon="icons/control-pause-record.png"
               label="Pause Recording"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.application.storing.view.commands.StopRecordingCommand"
               icon="icons/control-stop-record.png"
               label="Stop Recording"
               style="push">
         </command>
         <separator
               name="Separator"
               visible="true">
         </separator>
         <command
               commandId="de.uniol.inf.is.odysseus.application.storing.view.commands.StartPlayingRecordCommand"
               icon="icons/control.png"
               label="Start Playing Record"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.application.storing.view.commands.PausePlayingRecordCommand"
               icon="icons/control-pause.png"
               label="Pause Playing Record"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.application.storing.view.commands.StopPlayingRecordCommand"
               icon="icons/control-stop-square.png"
               label="Stop Playing Record"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="de.uniol.inf.is.odysseus.application.storing.view.views.RecordingPropertyTester"
            id="de.uniol.inf.is.odysseus.application.storing.view.views.RecordingPropertyTester"
            namespace="de.uniol.inf.is.odysseus.application.storing.view.views"
            properties="isRecordingStartable,isRecordingStoppable,isRecordingPauseable,isDeleteable,isPlayingStartable,isPlayingPauseable,isPlayingStoppable"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.uniol.inf.is.odysseus.application.storing.view.commands.StartRecordingCommand"
            commandId="de.uniol.inf.is.odysseus.application.storing.view.commands.StartRecordCommand"
            helpContextId="h">
         <enabledWhen>
            <test
                  forcePluginActivation="true"
                  property="de.uniol.inf.is.odysseus.application.storing.view.views.isRecordingStartable">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="de.uniol.inf.is.odysseus.application.storing.view.commands.PauseRecordingCommand"
            commandId="de.uniol.inf.is.odysseus.application.storing.view.commands.PauseRecordingCommand">
         <enabledWhen>
            <test
                  property="de.uniol.inf.is.odysseus.application.storing.view.views.isRecordingPauseable">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="de.uniol.inf.is.odysseus.application.storing.view.commands.StopRecordingCommand"
            commandId="de.uniol.inf.is.odysseus.application.storing.view.commands.StopRecordingCommand">
         <enabledWhen>
            <test
                  forcePluginActivation="true"
                  property="de.uniol.inf.is.odysseus.application.storing.view.views.isRecordingStoppable">
            </test></enabledWhen>
      </handler>
      <handler
            class="de.uniol.inf.is.odysseus.application.storing.view.commands.StartPlayingRecordCommand"
            commandId="de.uniol.inf.is.odysseus.application.storing.view.commands.StartPlayingRecordCommand">
         <enabledWhen>
            <test
                  forcePluginActivation="true"
                  property="de.uniol.inf.is.odysseus.application.storing.view.views.isPlayingStartable">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="de.uniol.inf.is.odysseus.application.storing.view.commands.StopPlayingRecordCommand"
            commandId="de.uniol.inf.is.odysseus.application.storing.view.commands.StopPlayingRecordCommand">
         <enabledWhen>
            <test
                  forcePluginActivation="true"
                  property="de.uniol.inf.is.odysseus.application.storing.view.views.isPlayingStoppable">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="de.uniol.inf.is.odysseus.application.storing.view.commands.PausePlayingRecordCommand"
            commandId="de.uniol.inf.is.odysseus.application.storing.view.commands.PausePlayingRecordCommand">
         <enabledWhen>
            <test
                  property="de.uniol.inf.is.odysseus.application.storing.view.views.isPlayingPauseable">
            </test>
         </enabledWhen>
      </handler>
   </extension>

</plugin>
