<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.views">
      <view
            category="de.uniol.inf.is.odysseus.rcp.peer.smarthome.SmartHomeCategory"
            class="de.uniol.inf.is.odysseus.peer.smarthome.rcp.views.SmartDeviceView"
            icon="icons/SmartHome.png"
            id="de.uniol.inf.is.odysseus.rcp.peer.SmartDeviceView"
            name="Smart Devices"
            restorable="true">
      </view>
      <view
            category="de.uniol.inf.is.odysseus.rcp.peer.smarthome.SmartHomeCategory"
            class="de.uniol.inf.is.odysseus.peer.smarthome.rcp.views.SmartDeviceConfigurationView"
            icon="icons/DeviceConfiguration.png"
            id="de.uniol.inf.is.odysseus.rcp.peer.SmartDeviceConfigurationView"
            name="Smart Device Configuration"
            restorable="true">
      </view>
      <view
            category="de.uniol.inf.is.odysseus.rcp.peer.smarthome.SmartHomeCategory"
            class="de.uniol.inf.is.odysseus.peer.smarthome.rcp.views.ContextView"
            icon="icons/Context.png"
            id="de.uniol.inf.is.odysseus.rcp.peer.ContextView"
            name="Contexts"
            restorable="true">
      </view>
      <view
            category="de.uniol.inf.is.odysseus.rcp.peer.smarthome.SmartHomeCategory"
            class="de.uniol.inf.is.odysseus.peer.smarthome.rcp.views.EntityView"
            icon="icons/Entity.png"
            id="de.uniol.inf.is.odysseus.rcp.peer.EntityView"
            name="Entities"
            restorable="true">
      </view>
      <view
            category="de.uniol.inf.is.odysseus.rcp.peer.smarthome.SmartHomeCategory"
            class="de.uniol.inf.is.odysseus.peer.smarthome.rcp.views.ActivityView"
            icon="icons/Activity.png"
            id="de.uniol.inf.is.odysseus.rcp.peer.ActivityView"
            name="Activities"
            restorable="true">
      </view>
      <category
            id="de.uniol.inf.is.odysseus.rcp.peer.smarthome.SmartHomeCategory"
            name="Smart Home">
      </category>
	</extension>
	<extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.uniol.inf.is.odysseus.peer.smarthome.rcp.perspectives.SmartHomePerspective"
            icon="icons/SmartHome.png"
            id="de.uniol.inf.is.odysseus.rcp.peer.SmartHomePerspective"
            name="Smart Home">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.uniol.inf.is.odysseus.rcp.peer.SmartHomePerspective">
         <view
               id="de.uniol.inf.is.odysseus.rcp.peer.SmartDeviceConfigurationView"
               minimized="false"
               relationship="top"
               relative="org.eclipse.ui.views.ContentOutline"
               visible="true">
         </view>
         <view
               id="de.uniol.inf.is.odysseus.rcp.peer.SmartDeviceView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="true">
         </view>
         <view
               id="de.uniol.inf.is.odysseus.rcp.peer.ContextView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="true">
         </view>
         <view
               id="de.uniol.inf.is.odysseus.rcp.peer.EntityView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="true">
         </view>
         <view
               id="de.uniol.inf.is.odysseus.rcp.peer.ActivityView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>
