<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.context.rcp.view.ContextStoreView"
            icon="icons/note.png"
            id="de.uniol.inf.is.odysseus.context.rcp.contextstoreview"
            name="Context Store"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="toolbar:de.uniol.inf.is.odysseus.context.rcp.contextstoreview">
         <command
               commandId="de.uniol.inf.is.odysseus.context.rcp.RefreshCommand"
               icon="icons/refresh.gif"
               label="Refresh"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.uniol.inf.is.odysseus.context.rcp.commands.RefreshCommand"
            id="de.uniol.inf.is.odysseus.context.rcp.RefreshCommand"
            name="Refresh Command">
      </command>
   </extension>

</plugin>
