<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.uniol.inf.is.odysseus.script.parser.PreParserKeyword" name="PreParserKeyword" schema="schema/de.uniol.inf.is.odysseus.script.parser.PreParserKeyword.exsd"/>
   <extension
         point="de.uniol.inf.is.odysseus.script.parser.PreParserKeyword">
      <PreParserKeyword
            class="de.uniol.inf.is.odysseus.script.parser.keyword.ParserPreParserKeyword"
            name="PARSER">
      </PreParserKeyword>
      <PreParserKeyword
            class="de.uniol.inf.is.odysseus.script.parser.keyword.TransCfgPreParserKeyword"
            name="TRANSCFG">
      </PreParserKeyword>
      <PreParserKeyword
            class="de.uniol.inf.is.odysseus.script.parser.keyword.ExecuteQueryPreParserKeyword"
            name="QUERY">
      </PreParserKeyword>
      <PreParserKeyword
            class="de.uniol.inf.is.odysseus.script.parser.keyword.AddQueryPreParserKeyword"
            name="ADDQUERY">
      </PreParserKeyword>
      <PreParserKeyword
            class="de.uniol.inf.is.odysseus.script.parser.keyword.ExecuteQueryPreParserKeyword"
            name="RUNQUERY">
      </PreParserKeyword>
      <PreParserKeyword
            class="de.uniol.inf.is.odysseus.script.parser.keyword.CyclicQueryPreParserKeyword"
            name="CYCLICQUERY">
      </PreParserKeyword>
      <PreParserKeyword
            class="de.uniol.inf.is.odysseus.script.parser.keyword.LoginUserPreParserKeyword"
            name="LOGIN">
      </PreParserKeyword>
      <PreParserKeyword
            class="de.uniol.inf.is.odysseus.script.parser.keyword.LogoutUserPreParserKeyword"
            name="LOGOUT">
      </PreParserKeyword>
      <PreParserKeyword
            class="de.uniol.inf.is.odysseus.script.parser.keyword.BufferPlacementPreParserKeyword"
            name="BUFFERPLACEMENT">
      </PreParserKeyword>
      <PreParserKeyword
            class="de.uniol.inf.is.odysseus.script.parser.keyword.StartAllClosedQueriesPreParserKeyword"
            name="STARTQUERIES">
      </PreParserKeyword>
      <PreParserKeyword
            class="de.uniol.inf.is.odysseus.script.parser.keyword.SchedulerPreParserKeyword"
            name="SCHEDULER">
      </PreParserKeyword>
      <PreParserKeyword
            class="de.uniol.inf.is.odysseus.script.parser.keyword.QuerySharingPreParserKeyword"
            name="DOQUERYSHARING">
      </PreParserKeyword>
      <PreParserKeyword
            class="de.uniol.inf.is.odysseus.script.parser.keyword.UseRewritePreParserKeyword"
            name="DOREWRITE">
      </PreParserKeyword>
      <PreParserKeyword
            class="de.uniol.inf.is.odysseus.script.parser.keyword.OdysseusDefaultsPreParserKeyword"
            name="ODYSSEUS_PARAM">
      </PreParserKeyword>
      <PreParserKeyword
            class="de.uniol.inf.is.odysseus.script.parser.keyword.SLAPreParserKeyword"
            name="SLA">
      </PreParserKeyword>
      <PreParserKeyword
            class="de.uniol.inf.is.odysseus.script.parser.keyword.ReloadFromLogPreParserKeyword"
            name="RELOADFROMLOG">
      </PreParserKeyword>
   </extension>
</plugin>
