<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.uniol.inf.is.odysseus.net.rcp.perspective.OdysseusNetPerspective"
            icon="icons/odysseusNetSymbol.png"
            id="de.uniol.inf.is.odysseus.net.rcp.Perspektive"
            name="OdysseusNet">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.uniol.inf.is.odysseus.net.rcp.OdysseusNetCategory"
            name="OdysseusNet">
      </category>
      <view
            allowMultiple="false"
            category="de.uniol.inf.is.odysseus.net.rcp.OdysseusNetCategory"
            class="de.uniol.inf.is.odysseus.net.rcp.views.NodeViewPart"
            icon="icons/node.png"
            id="de.uniol.inf.is.odysseus.net.rcp.NodeView"
            name="Nodes"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="de.uniol.inf.is.odysseus.net.rcp.OdysseusNetCategory"
            class="de.uniol.inf.is.odysseus.net.rcp.views.ChatView"
            icon="icons/chat.png"
            id="de.uniol.inf.is.odysseus.net.rcp.ChatView"
            name="Chat"
            restorable="true">
      </view>
      <view
            category="de.uniol.inf.is.odysseus.net.rcp.OdysseusNetCategory"
            class="de.uniol.inf.is.odysseus.net.rcp.views.PingMapView"
            icon="icons/ping.gif"
            id="de.uniol.inf.is.odysseus.net.rcp.PingMap"
            name="Ping Map"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="de.uniol.inf.is.odysseus.net.rcp.OdysseusNetCategory"
            class="de.uniol.inf.is.odysseus.net.rcp.views.DistributedDataView"
            icon="icons/distributedData.png"
            id="de.uniol.inf.is.odysseus.net.rcp.DistributedData"
            name="Distributed Data"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.uniol.inf.is.odysseus.net.rcp.commands.StartOdysseusNetCommand"
            id="de.uniol.inf.is.odysseus.net.rcp.StartOdysseusNetCommand"
            name="Start OdysseusNet">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.net.rcp.commands.CleanNodeViewCommand"
            id="de.uniol.inf.is.odysseus.net.rcp.CleanNodeView"
            name="Clean NodeView">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.net.rcp.commands.RefreshNodeViewCommand"
            id="de.uniol.inf.is.odysseus.net.rcp.RefreshNodeView"
            name="Refresh NodeView">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.net.rcp.commands.UpdateNodesCommand"
            id="de.uniol.inf.is.odysseus.net.rcp.UpdateNodes"
            name="Update Nodes">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.net.rcp.commands.RestartNodesCommand"
            id="de.uniol.inf.is.odysseus.net.rcp.RestartNodes"
            name="Restart Nodes">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.net.rcp.commands.ReinstallNodesCommand"
            id="de.uniol.inf.is.odysseus.net.rcp.ReinstallNodes"
            name="Reinstall Nodes">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.uniol.inf.is.odysseus.net.rcp.NodeView">
         <command
               commandId="de.uniol.inf.is.odysseus.net.rcp.StartOdysseusNetCommand"
               icon="icons/odysseusNetSymbol.png"
               label="Start OdysseusNet"
               style="toggle"
               tooltip="Start/Stop OdysseusNet">
         </command>
         <separator
               name="de.uniol.inf.is.odysseus.net.rcp.separator1">
         </separator>
         <command
               commandId="de.uniol.inf.is.odysseus.net.rcp.RefreshNodeView"
               icon="icons/refresh.gif"
               label="Refresh"
               style="push"
               tooltip="Refresh">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.net.rcp.CleanNodeView"
               icon="icons/clean.gif"
               label="Clean"
               style="push"
               tooltip="Clean">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:de.uniol.inf.is.odysseus.net.rcp.NodeView">
         <command
               commandId="de.uniol.inf.is.odysseus.net.rcp.UpdateNodes"
               label="Update"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.net.rcp.RestartNodes"
               label="Restart"
               style="push">
         </command>
         <separator
               name="de.uniol.inf.is.odysseus.net.rcp.separator1">
         </separator>
         <command
               commandId="de.uniol.inf.is.odysseus.net.rcp.ReinstallNodes"
               label="Reinstall"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
