[submodule "add-on/netzdatenstrom"]
	path = add-on/netzdatenstrom
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/oi/netzdatenstrom.git
[submodule "wrapper/baslercamera"]
	path = wrapper/baslercamera
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/baslercamera.git
[submodule "wrapper/cosem"]
	path = wrapper/cosem
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/cosem.git
[submodule "wrapper/dds"]
	path = wrapper/dds
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/dds.git
[submodule "wrapper/DeutscherWetterDienst"]
	path = wrapper/DeutscherWetterDienst
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/DeutscherWetterDienst.git
[submodule "wrapper/facebook"]
	path = wrapper/facebook
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/facebook.git
[submodule "wrapper/ferrybox"]
	path = wrapper/ferrybox
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/ferrybox.git
[submodule "wrapper/fnirs"]
	path = wrapper/fnirs
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/fnirs.git
[submodule "wrapper/fs20"]
	path = wrapper/fs20
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/fs20.git
[submodule "wrapper/iec60870"]
	path = wrapper/iec60870
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/iec60870.git
[submodule "wrapper/json"]
	path = wrapper/json
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/json.git
[submodule "wrapper/kafka"]
	path = wrapper/kafka
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/kafka.git
[submodule "wrapper/lms1xx"]
	path = wrapper/lms1xx
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/lms1xx.git
[submodule "wrapper/mail"]
	path = wrapper/mail
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/mail.git
[submodule "wrapper/modbus"]
	path = wrapper/modbus
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/modbus.git
[submodule "wrapper/mosaik"]
	path = wrapper/mosaik
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/mosaik.git
[submodule "wrapper/mqtt"]
	path = wrapper/mqtt
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/mqtt.git
[submodule "wrapper/navicoradar"]
	path = wrapper/navicoradar
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/navicoradar.git
[submodule "wrapper/ncsa_hdf"]
	path = wrapper/ncsa_hdf
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/ncsa_hdf.git
[submodule "wrapper/nmea"]
	path = wrapper/nmea
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/nmea.git
[submodule "wrapper/opcda"]
	path = wrapper/opcda
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/opcda.git
[submodule "wrapper/opcua"]
	path = wrapper/opcua
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/opcua.git
[submodule "wrapper/optriscamera"]
	path = wrapper/optriscamera
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/optriscamera.git
[submodule "wrapper/pcap"]
	path = wrapper/pcap
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/pcap.git
[submodule "wrapper/plugwise"]
	path = wrapper/plugwise
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/plugwise.git
[submodule "wrapper/pmml"]
	path = wrapper/pmml
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/pmml.git
[submodule "wrapper/protobuf"]
	path = wrapper/protobuf
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/protobuf.git
[submodule "wrapper/rabbitmq"]
	path = wrapper/rabbitmq
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/rabbitmq.git
[submodule "wrapper/rdf"]
	path = wrapper/rdf
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/rdf.git
[submodule "wrapper/rpi.gpio"]
	path = wrapper/rpi.gpio
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/rpi.gpio.git
[submodule "wrapper/rs232"]
	path = wrapper/rs232
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/rs232.git
[submodule "wrapper/scai"]
	path = wrapper/scai
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/scai.git
[submodule "wrapper/serialport"]
	path = wrapper/serialport
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/serialport.git
[submodule "wrapper/snet"]
	path = wrapper/snet
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/snet.git
[submodule "wrapper/speech"]
	path = wrapper/speech
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/speech.git
[submodule "wrapper/sunspot"]
	path = wrapper/sunspot
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/sunspot.git
[submodule "wrapper/system"]
	path = wrapper/system
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/system.git
[submodule "wrapper/telegram"]
	path = wrapper/telegram
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/telegram.git
[submodule "wrapper/tika"]
	path = wrapper/tika
	url = https://mgrawunder@git.swl.informatik.uni-oldenburg.de/scm/ody_wrap/tika.git
