application/generator/de.uniol.inf.is.odysseus.generator.process/.project
application/generator/de.uniol.inf.is.odysseus.generator.process/bin/.project
client/studio/streamingsparql/de.uniol.inf.is.odysseus.server.streamingsparql.ui/xtend-gen/de/uniol/inf/is/odysseus/server/ui/contentassist/.gitignore
client/studio/streamingsparql/de.uniol.inf.is.odysseus.server.streamingsparql.ui/xtend-gen/de/uniol/inf/is/odysseus/server/ui/labeling/.gitignore
client/studio/streamingsparql/de.uniol.inf.is.odysseus.server.streamingsparql.ui/xtend-gen/de/uniol/inf/is/odysseus/server/ui/outline/.gitignore
client/studio/streamingsparql/de.uniol.inf.is.odysseus.server.streamingsparql.ui/xtend-gen/de/uniol/inf/is/odysseus/server/ui/quickfix/.gitignore
monolithic/eca/de.uniol.inf.is.odysseus.eca.ui/xtend-gen/de/uniol/inf/is/odysseus/eca/ui/contentassist/.gitignore
monolithic/eca/de.uniol.inf.is.odysseus.eca.ui/xtend-gen/de/uniol/inf/is/odysseus/eca/ui/labeling/.gitignore
monolithic/eca/de.uniol.inf.is.odysseus.eca.ui/xtend-gen/de/uniol/inf/is/odysseus/eca/ui/outline/.gitignore
monolithic/eca/de.uniol.inf.is.odysseus.eca.ui/xtend-gen/de/uniol/inf/is/odysseus/eca/ui/quickfix/.gitignore
monolithic/eca/de.uniol.inf.is.odysseus.eca/xtend-gen/de/uniol/inf/is/odysseus/eca/formatting/.gitignore
monolithic/eca/de.uniol.inf.is.odysseus.eca/xtend-gen/de/uniol/inf/is/odysseus/eca/generator/.gitignore
monolithic/eca/de.uniol.inf.is.odysseus.eca/xtend-gen/de/uniol/inf/is/odysseus/eca/scoping/.gitignore
monolithic/eca/de.uniol.inf.is.odysseus.eca/xtend-gen/de/uniol/inf/is/odysseus/eca/validation/.gitignore
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.basic/.settings/org.eclipse.core.resources.prefs
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.basic/xtend-gen/de/uniol/inf/is/odysseus/iql/basic/generator/compiler/.AbstractIQLCompiler.java._trace
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.basic/xtend-gen/de/uniol/inf/is/odysseus/iql/basic/generator/compiler/.AbstractIQLCompiler.xtendbin
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.basic/xtend-gen/de/uniol/inf/is/odysseus/iql/basic/generator/compiler/.AbstractIQLExpressionCompiler.java._trace
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.basic/xtend-gen/de/uniol/inf/is/odysseus/iql/basic/generator/compiler/.AbstractIQLExpressionCompiler.xtendbin
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.basic/xtend-gen/de/uniol/inf/is/odysseus/iql/basic/generator/compiler/.AbstractIQLMetadataAnnotationCompiler.java._trace
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.basic/xtend-gen/de/uniol/inf/is/odysseus/iql/basic/generator/compiler/.AbstractIQLMetadataAnnotationCompiler.xtendbin
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.basic/xtend-gen/de/uniol/inf/is/odysseus/iql/basic/generator/compiler/.AbstractIQLMetadataMethodCompiler.java._trace
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.basic/xtend-gen/de/uniol/inf/is/odysseus/iql/basic/generator/compiler/.AbstractIQLMetadataMethodCompiler.xtendbin
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.basic/xtend-gen/de/uniol/inf/is/odysseus/iql/basic/generator/compiler/.AbstractIQLStatementCompiler.java._trace
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.basic/xtend-gen/de/uniol/inf/is/odysseus/iql/basic/generator/compiler/.AbstractIQLStatementCompiler.xtendbin
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.basic/xtend-gen/de/uniol/inf/is/odysseus/iql/basic/generator/compiler/.AbstractIQLTypeCompiler.java._trace
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.basic/xtend-gen/de/uniol/inf/is/odysseus/iql/basic/generator/compiler/.AbstractIQLTypeCompiler.xtendbin
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.basic/xtend-gen/de/uniol/inf/is/odysseus/iql/basic/generator/compiler/.BasicIQLCompiler.java._trace
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.basic/xtend-gen/de/uniol/inf/is/odysseus/iql/basic/generator/compiler/.BasicIQLCompiler.xtendbin
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.basic/xtend-gen/de/uniol/inf/is/odysseus/iql/basic/generator/compiler/.BasicIQLExpressionCompiler.java._trace
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.basic/xtend-gen/de/uniol/inf/is/odysseus/iql/basic/generator/compiler/.BasicIQLExpressionCompiler.xtendbin
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.basic/xtend-gen/de/uniol/inf/is/odysseus/iql/basic/generator/compiler/.BasicIQLMetadataAnnotationCompiler.java._trace
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.basic/xtend-gen/de/uniol/inf/is/odysseus/iql/basic/generator/compiler/.BasicIQLMetadataAnnotationCompiler.xtendbin
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.basic/xtend-gen/de/uniol/inf/is/odysseus/iql/basic/generator/compiler/.BasicIQLMetadataMethodCompiler.java._trace
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.basic/xtend-gen/de/uniol/inf/is/odysseus/iql/basic/generator/compiler/.BasicIQLMetadataMethodCompiler.xtendbin
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.basic/xtend-gen/de/uniol/inf/is/odysseus/iql/basic/generator/compiler/.BasicIQLStatementCompiler.java._trace
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.basic/xtend-gen/de/uniol/inf/is/odysseus/iql/basic/generator/compiler/.BasicIQLStatementCompiler.xtendbin
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.basic/xtend-gen/de/uniol/inf/is/odysseus/iql/basic/generator/compiler/.BasicIQLTypeCompiler.java._trace
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.basic/xtend-gen/de/uniol/inf/is/odysseus/iql/basic/generator/compiler/.BasicIQLTypeCompiler.xtendbin
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.basic/xtend-gen/de/uniol/inf/is/odysseus/iql/basic/generator/compiler/.gitignore
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.odl/.settings/org.eclipse.core.resources.prefs
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.odl/xtend-gen/de/uniol/inf/is/odysseus/iql/odl/generator/compiler/.ODLCompiler.java._trace
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.odl/xtend-gen/de/uniol/inf/is/odysseus/iql/odl/generator/compiler/.ODLCompiler.xtendbin
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.odl/xtend-gen/de/uniol/inf/is/odysseus/iql/odl/generator/compiler/.ODLExpressionCompiler.java._trace
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.odl/xtend-gen/de/uniol/inf/is/odysseus/iql/odl/generator/compiler/.ODLExpressionCompiler.xtendbin
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.odl/xtend-gen/de/uniol/inf/is/odysseus/iql/odl/generator/compiler/.ODLMetadataMethodCompiler.java._trace
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.odl/xtend-gen/de/uniol/inf/is/odysseus/iql/odl/generator/compiler/.ODLMetadataMethodCompiler.xtendbin
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.odl/xtend-gen/de/uniol/inf/is/odysseus/iql/odl/generator/compiler/.ODLStatementCompiler.java._trace
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.odl/xtend-gen/de/uniol/inf/is/odysseus/iql/odl/generator/compiler/.ODLStatementCompiler.xtendbin
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.odl/xtend-gen/de/uniol/inf/is/odysseus/iql/odl/generator/compiler/.ODLTypeCompiler.java._trace
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.odl/xtend-gen/de/uniol/inf/is/odysseus/iql/odl/generator/compiler/.ODLTypeCompiler.xtendbin
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.odl/xtend-gen/de/uniol/inf/is/odysseus/iql/odl/generator/compiler/.gitignore
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.odl/xtend-gen/de/uniol/inf/is/odysseus/iql/odl/validation/generator/.ODLValidator.java._trace
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.odl/xtend-gen/de/uniol/inf/is/odysseus/iql/odl/validation/generator/.ODLValidator.xtendbin
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.odl/xtend-gen/de/uniol/inf/is/odysseus/iql/odl/validation/generator/.gitignore
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.qdl/.settings/org.eclipse.core.resources.prefs
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.qdl/xtend-gen/de/uniol/inf/is/odysseus/iql/qdl/generator/compiler/.QDLCompiler.java._trace
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.qdl/xtend-gen/de/uniol/inf/is/odysseus/iql/qdl/generator/compiler/.QDLCompiler.xtendbin
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.qdl/xtend-gen/de/uniol/inf/is/odysseus/iql/qdl/generator/compiler/.QDLExpressionCompiler.java._trace
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.qdl/xtend-gen/de/uniol/inf/is/odysseus/iql/qdl/generator/compiler/.QDLExpressionCompiler.xtendbin
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.qdl/xtend-gen/de/uniol/inf/is/odysseus/iql/qdl/generator/compiler/.QDLMetadataAnnotationCompiler.java._trace
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.qdl/xtend-gen/de/uniol/inf/is/odysseus/iql/qdl/generator/compiler/.QDLMetadataAnnotationCompiler.xtendbin
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.qdl/xtend-gen/de/uniol/inf/is/odysseus/iql/qdl/generator/compiler/.QDLMetadataMethodCompiler.java._trace
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.qdl/xtend-gen/de/uniol/inf/is/odysseus/iql/qdl/generator/compiler/.QDLMetadataMethodCompiler.xtendbin
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.qdl/xtend-gen/de/uniol/inf/is/odysseus/iql/qdl/generator/compiler/.QDLStatementCompiler.java._trace
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.qdl/xtend-gen/de/uniol/inf/is/odysseus/iql/qdl/generator/compiler/.QDLStatementCompiler.xtendbin
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.qdl/xtend-gen/de/uniol/inf/is/odysseus/iql/qdl/generator/compiler/.QDLTypeCompiler.java._trace
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.qdl/xtend-gen/de/uniol/inf/is/odysseus/iql/qdl/generator/compiler/.QDLTypeCompiler.xtendbin
monolithic/iql/de.uniol.inf.is.odysseus.incubation.iql.qdl/xtend-gen/de/uniol/inf/is/odysseus/iql/qdl/generator/compiler/.gitignore
server/cql/parser.novel.cql/de.uniol.inf.is.odysseus.parser.novel.cql.dependency.feature/.project
server/cql/parser.novel.cql/de.uniol.inf.is.odysseus.parser.novel.cql.feature/.project
server/cql/parser.novel.cql/de.uniol.inf.is.odysseus.parser.novel.cql.feature/.settings/org.eclipse.core.resources.prefs
server/cql/parser.novel.cql/de.uniol.inf.is.odysseus.parser.novel.cql.ide/.classpath
server/cql/parser.novel.cql/de.uniol.inf.is.odysseus.parser.novel.cql.ide/.project
server/cql/parser.novel.cql/de.uniol.inf.is.odysseus.parser.novel.cql.ide/.settings/org.eclipse.core.resources.prefs
server/cql/parser.novel.cql/de.uniol.inf.is.odysseus.parser.novel.cql.ide/.settings/org.eclipse.jdt.core.prefs
server/cql/parser.novel.cql/de.uniol.inf.is.odysseus.parser.novel.cql.tests/.classpath
server/cql/parser.novel.cql/de.uniol.inf.is.odysseus.parser.novel.cql.tests/.project
server/cql/parser.novel.cql/de.uniol.inf.is.odysseus.parser.novel.cql.tests/.settings/org.eclipse.core.resources.prefs
server/cql/parser.novel.cql/de.uniol.inf.is.odysseus.parser.novel.cql.tests/.settings/org.eclipse.jdt.core.prefs
server/cql/parser.novel.cql/de.uniol.inf.is.odysseus.parser.novel.cql.ui.feature/.project
server/cql/parser.novel.cql/de.uniol.inf.is.odysseus.parser.novel.cql/.classpath
server/cql/parser.novel.cql/de.uniol.inf.is.odysseus.parser.novel.cql/.project
server/cql/parser.novel.cql/de.uniol.inf.is.odysseus.parser.novel.cql/.settings/org.eclipse.core.resources.prefs
server/cql/parser.novel.cql/de.uniol.inf.is.odysseus.parser.novel.cql/.settings/org.eclipse.jdt.core.prefs
server/cql/parser.novel.cql/de.uniol.inf.is.odysseus.parser.novel.cql/queries/.project
server/streamingsparql/de.uniol.inf.is.odysseus.server.streamingsparql/.settings/org.eclipse.core.resources.prefs
server/streamingsparql/de.uniol.inf.is.odysseus.server.streamingsparql/xtend-gen/de/uniol/inf/is/odysseus/server/formatting/.gitignore
server/streamingsparql/de.uniol.inf.is.odysseus.server.streamingsparql/xtend-gen/de/uniol/inf/is/odysseus/server/generator/.gitignore
server/streamingsparql/de.uniol.inf.is.odysseus.server.streamingsparql/xtend-gen/de/uniol/inf/is/odysseus/server/scoping/.gitignore
server/streamingsparql/de.uniol.inf.is.odysseus.server.streamingsparql/xtend-gen/de/uniol/inf/is/odysseus/server/validation/.gitignore
