/.AttributeStruct.java._trace
/.AttributeStruct.xtendbin
/.CQLGenerator.xtendbin
/.CQLGeneratorUtil.java._trace
/.CQLGeneratorUtil.xtendbin
/.CQLPredicateParser.java._trace
/.CQLPredicateParser.xtendbin
/.SourceStruct.java._trace
/.SourceStruct.xtendbin
/AttributeStruct.java
/CQLGeneratorUtil.java
/CQLPredicateParser.java
/SourceStruct.java
/.CQLGenerator.java._trace
/CQLGenerator.java
