/.AttributeStruct.java._trace
/.AttributeStruct.xtendbin
/.CQLGenerator.java._trace
/.CQLGenerator.xtendbin
/.CQLGeneratorUtil.java._trace
/.CQLGeneratorUtil.xtendbin
/.CQLPredicateParser.java._trace
/.CQLPredicateParser.xtendbin
/.SourceStruct.java._trace
/.SourceStruct.xtendbin
/.Operator.java._trace
