<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.uniol.inf.is.odysseus.rcp.perspective.queries.impl.QueriesPerspective"
            id="de.uniol.inf.is.odysseus.rcp.perspective.queries"
            name="Queries">
      </perspective>
   </extension>

</plugin>
