<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.uniol.inf.is.odysseus.rcp.editor.Keyword" name="Query Editor Keywords " schema="schema/de.uniol.inf.is.odysseus.rcp.editor.Keyword.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.uniol.inf.is.odysseus.rcp.editor.text.editors.OdysseusScriptEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="qry"
            icon="Icons/text.gif"
            id="de.uniol.inf.is.odysseus.rcp.editor.OdysseusScriptEditor"
            name="Odysseus Script Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:#EditorContext?after=additions">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.editor.text.RunQuery"
               label="Run Query"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="RunToolbar">
            <command
                  commandId="de.uniol.inf.is.odysseus.rcp.editor.text.RunQuery"
                  icon="Icons/run.gif"
                  label="Run Query"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.editor.text.commands.RunQueryCommand"
            id="de.uniol.inf.is.odysseus.rcp.editor.text.RunQuery"
            name="Run Query">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.editor.text.commands.CommentTextCommand"
            id="de.uniol.inf.is.odysseus.rcp.editor.text.CommentCommand"
            name="Comment Text">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="de.uniol.inf.is.odysseus.rcp.wizard.category"
            class="de.uniol.inf.is.odysseus.rcp.editor.text.wizards.OdysseusScriptWizard"
            finalPerspective="de.uniol.inf.is.odysseus.rcp.perspectives.QueriesPerspective"
            hasPages="true"
            icon="Icons/text.gif"
            id="de.uniol.inf.is.odysseus.rcp.editor.text.OdysseusScriptWizard"
            name="Odysseus Script"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.uniol.inf.is.odysseus.rcp.perspectives.ObserverPerspective">
         <newWizardShortcut
               id="de.uniol.inf.is.odysseus.rcp.editor.text.OdysseusScriptWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="de.uniol.inf.is.odysseus.rcp.editor.Keyword">
      <group
            class="de.uniol.inf.is.odysseus.rcp.editor.text.groups.ParserIDKeywordGroup"
            colorB="255"
            colorG="0"
            colorR="255"
            name="ParserIDs">
      </group>
      <group
            class="de.uniol.inf.is.odysseus.rcp.editor.text.groups.TransCfgKeywordGroup"
            colorB="255"
            colorG="0"
            colorR="255"
            name="TransCfgs">
      </group>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.uniol.inf.is.odysseus.rcp.editor.text.CommentCommand"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+C">
      </key>
   </extension>
      <extension
    point="org.eclipse.ui.editors.markerAnnotationSpecification">
    <specification
    annotationType="de.uniol.inf.is.odysseus.rcp.editor.highlightannotation"
    verticalRulerPreferenceKey="highlight.rulers.vertical"
    textPreferenceKey="highlight.text"
    colorPreferenceKey="highlight.color"
    highlightPreferenceKey="highlight.background"
    textPreferenceValue="false"
    textStylePreferenceValue="UNDERLINE"
    overviewRulerPreferenceKey="highlight.rulers.overview"
    presentationLayer="4"
    highlightPreferenceValue="true"
    label="Keyword"
    icon="icons/friend_co.gif"
    colorPreferenceValue="253,255,157"
    verticalRulerPreferenceValue="true"
    overviewRulerPreferenceValue="true"
    textStylePreferenceKey="highlight.text.style">
    </specification>
    </extension>


</plugin>
