<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
          <view
            category="de.uniol.inf.is.odysseus.rcp.peer.PeerCategory"
            class="de.uniol.inf.is.odysseus.peer.loadbalancing.active.rcp.views.LoadBalancingView"
            icon="icons/peer.png"
            id="de.uniol.inf.is.odysseus.rcp.peer.loadbalancing.active.rcp.views.LoadBalancingView"
            name="LoadBalancing"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.uniol.inf.is.odysseus.rcp.views.query.QueryView">
         <command
               commandId="de.uniol.inf.is.odysseus.peer.loadbalancing.active.rcp.commands.LockQuery"
               label="Lock"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.uniol.inf.is.odysseus.peer.loadbalancing.active.rcp.command.LockQueryCommand"
            id="de.uniol.inf.is.odysseus.peer.loadbalancing.active.rcp.commands.LockQuery"
            name="Lock Query">
      </command>
   </extension>

</plugin>
