/.CQLParsingTest.java._trace
/.ExpressionsTypeProviderTest.java._trace
/.CQLParsingTest.xtendbin
/.ExpressionsTypeProviderTest.xtendbin
/CQLParsingTest.java
/ExpressionsTypeProviderTest.java
/.CQLGeneratorTest.java._trace
/.CQLGeneratorMethodTest.java._trace
/.CQLGeneratorQueryest.java._trace
/.CQLGeneratorQueryTest.java._trace
/.CQLTestSuite.java._trace
