<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.uniol.inf.is.odysseus.developer.mep" name="Time and Space Complexity Estimator" schema="schema/de.uniol.inf.is.odysseus.developer.mep.exsd"/>
              <extension
         point="org.eclipse.ui.commands">
              <command
            defaultHandler="de.uniol.inf.is.odysseus.developer.mep.command.EstimateTimeAndSpaceComplexityCommand"
            id="de.uniol.inf.is.odysseus.developer.mep.command.EstimateTimeAndSpaceComplexityCommand"
            name="Run MEP Time/Space Estimation">
      </command>     
       </extension>
                   <extension
         point="org.eclipse.ui.commands">
              <command
            defaultHandler="de.uniol.inf.is.odysseus.developer.mep.command.TestMEPFunctionCommand"
            id="de.uniol.inf.is.odysseus.developer.mep.command.TestMEPFunctionCommand"
            name="Test MEP Function">
      </command>     
       </extension>
       <extension
         point="org.eclipse.ui.commands">
              <command
            defaultHandler="de.uniol.inf.is.odysseus.developer.mep.command.RunMEPCalculatorCommand"
            id="de.uniol.inf.is.odysseus.developer.mep.command.RunMEPCalculatorCommand"
            name="MEP Calculator">
      </command>     
       </extension>
           <extension
         point="org.eclipse.ui.menus">
            <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=window">
                  <menu
                        id="de.uniol.inf.is.odysseus.developer.menu.developer"
                        label="Developer">
                  </menu>
      </menuContribution>
            <menuContribution
                  allPopups="false"
                  locationURI="menu:de.uniol.inf.is.odysseus.developer.menu.developer">
               <command
                     commandId="de.uniol.inf.is.odysseus.developer.mep.command.TestMEPFunctionCommand"
                     label="Test MEP Function"
                             style="push">
               </command>
               <command
                     commandId="de.uniol.inf.is.odysseus.developer.mep.command.EstimateTimeAndSpaceComplexityCommand"
                     label="MEP Time/Space Estimation"
                     style="push">
               </command>
               <command
                     commandId="de.uniol.inf.is.odysseus.developer.mep.command.RunMEPCalculatorCommand"
                     label="MEP Calculator"
                     style="push">
               </command>
            </menuContribution>
      </extension>
</plugin>
