<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Base RCP (Binary Only)" sequenceNumber="42">
<locations>
<location id="org.eclipse.platform" path="${eclipse_home}" type="Feature"/>
<location id="org.eclipse.rcp" path="${eclipse_home}" type="Feature"/>
<location path="${eclipse_home}" type="Profile"/>
<location id="org.eclipse.persistence.jpa" path="${eclipse_home}" type="Feature"/>
<location id="org.eclipse.gef" path="${eclipse_home}" type="Feature"/>
<location id="org.eclipse.draw2d" path="${eclipse_home}" type="Feature"/>
<location id="org.eclipse.equinox.core.feature" path="${eclipse_home}" type="Feature"/>
<location path="${workspace_loc}\delta-pack\eclipse-3.7.2-delta-pack\eclipse" type="Directory"/>
</locations>
</target>
