<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.uniol.inf.is.odysseus.rcp.editor.operator">
      <operator
            class="de.uniol.inf.is.odysseus.rcp.editor.operators.impl.AccessAOExtension"
            group="default"
            id="AccessAO"
            label="Access">
      </operator>
      <operator
            class="de.uniol.inf.is.odysseus.rcp.editor.operators.impl.SelectAOExtension"
            group="default"
            id="SelectAO"
            label="Selection">
      </operator>
   </extension>

</plugin>
