<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.uniol.inf.is.odysseus.developer.cheatsheet" name="Cheat Sheet" schema="schema/de.uniol.inf.is.odysseus.developer.cheatsheet.exsd"/>
              <extension
         point="org.eclipse.ui.commands">
              <command
            defaultHandler="de.uniol.inf.is.odysseus.developer.cheatsheet.command.GeneratePDFCheatSheetCommand"
            id="de.uniol.inf.is.odysseus.developer.cheatsheet.command.GeneratePDFCheatSheetCommand"
            name="Generate Cheat Sheet (PDF)">   
               </command>     
            
              <command
            defaultHandler="de.uniol.inf.is.odysseus.developer.cheatsheet.command.GenerateHTMLCheatSheetCommand"
            id="de.uniol.inf.is.odysseus.developer.cheatsheet.command.GenerateHTMLCheatSheetCommand"
            name="Generate Cheat Sheet (HTML)">
          </command>     
       </extension>
      
           <extension
         point="org.eclipse.ui.menus">
            <menuContribution
            allPopups="false"
            locationURI="menu:de.uniol.inf.is.odysseus.developer.menu.developer">
         <command
               commandId="de.uniol.inf.is.odysseus.developer.cheatsheet.command.GeneratePDFCheatSheetCommand"
               label="Generate Cheat Sheet (PDF)"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.developer.cheatsheet.command.GenerateHTMLCheatSheetCommand"
               label="Generate Cheat Sheet (HTML)"
               style="push">
         </command>
      </menuContribution>
      </extension>
</plugin>