<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.uniol.inf.is.odysseus.benchmarkgui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="de.uniol.inf.is.odysseus.benchmarkgui.Perspective"
            id="de.uniol.inf.is.odysseus.BenchmarkGUI.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="de.uniol.inf.is.odysseus.benchmarkgui.View"
            id="de.uniol.inf.is.odysseus.BenchmarkGUI.view">
      </view>
   </extension>

</plugin>
