<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.uniol.inf.is.odysseus.rcp.DashboardPart">
      <dashboardPart
            class="de.uniol.inf.is.odysseus.scheduler.slascheduler.monitoring.SLACostMonitoringDashboardPart"
            configClass="de.uniol.inf.is.odysseus.scheduler.slascheduler.monitoring.SLACostMonitoringConfigurer"
            name="SLACostMonitoring">
      </dashboardPart>
      <dashboardPart
            class="de.uniol.inf.is.odysseus.scheduler.slascheduler.monitoring.SLAViolationsDashboardPart"
            configClass="de.uniol.inf.is.odysseus.scheduler.slascheduler.monitoring.SLAViolationsConfigurer"
            name="SLAViolationsDashboardPart">
      </dashboardPart>
   </extension>

</plugin>
