body {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	
	background: #20282D; /* old browsers */
    /*background: -moz-linear-gradient(top, #20282D 3%, #252E34 51%, #222A30 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#20282D), color-stop(51%,#252E34), color-stop(100%,#222A30)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20282D', endColorstr='#222A30',GradientType=0 ); /* ie */
    
    font-family: Arial Unicode MS, Arial, sans-serif;
    font-size: small;
    margin: 0;
    padding: 0;
}

#header {    
	left: 0;
	right:  0;
	top: 0;
	height: 46px;
	margin-bottom: 10px;	
}

#content {
	position: absolute;
	height: 100%;
	width: 100%;
	vertical-align: top;
}

#mainArea {
	padding: 0;
	margin: 10px;
	height: 500px;
	height: -moz-calc(100% - 46x - 16px);
	height: -webkit-calc(100% - 62px);
	height: -o-calc(100% - 46px - 16px);
}

.so-project-container {
	width: 100%;
	height: 100%;
	background-color: white;
}

.gwt-SplitLayoutPanel-VDragger {
/*     background-image: url('images/v-dragger.png'); */
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: transparent !important;
    cursor: s-resize;
}

.gwt-SplitLayoutPanel-HDragger {
/*     background-image: url('images/h-dragger.png'); */
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: transparent !important;
    cursor: w-resize;
}

svg g {
    cursor: pointer;
}

svg {
    /*background: white url('images/svg_background.png') repeat left top;*/
}

svg .module-svg {
	fill: white;
}

svg .module-svg:hover {
	fill: blue;
}

svg .wiring-svg {
	stroke: orange;
	marker-end: url(#LinkEndMarker);
}

svg .wiring-svg:hover {
	stroke: red;
}

svg .selected-svg {
	stroke: black;
}

.itemsTreeWidget {	
    background-color: white;    
	border-radius: 10px;
	padding: 10px;
	overflow: auto;
}

.operatorGroupsWidget-container {
	background: white;
	border-radius: 10px;
	padding: 10px;
}

.operatorGroupGrid {
	overflow: auto;
}

.gwt-DialogBox {
	padding: 5px;
  border-radius: 10px;
  background-color: white;  
  -moz-box-shadow: 6px 6px 6px #555;
  -webkit-box-shadow: 6px 6px 6px #555;
  box-shadow: 6px 6px 6px #555;
  z-index: 40001;
}

.gwt-DialogBox .Caption {
    border: 1px solid white;
    background-color: #333;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border-radius: 5px;
}

.gwt-DialogBox .dialogContent {
    padding: 5px;
}

.abstractconfigurationdialog-glass {
	 zoom: 1;
     filter: alpha(opacity=50);
     opacity: 0.5;
     background-color: black;
     z-index: 40000;
}

.opGroupButton:hover {
	background-color: white;
	cursor: pointer;
}


.gwt-PopupPanel {
	background-color: white;
}

.gwt-PopupPanel .popupContent {
	border: 1px solid black;
	padding: 2px;
}

.button-up-disabled {
	opacity: 0.3;
}

.button-down-disabled {
	opacity: 0.3;
}

/* Dark Button CSS */
.button {
	cursor: pointer;
    outline: 0;
    padding: 5px 12px;
    display: block;
    color: #9fa8b0;
    font-weight: bold;
    text-shadow: 1px 1px #1f272b;
    border: 1px solid #1c252b;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #232B30; /* old browsers */
    background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#3D4850), color-stop(4%,#313d45), color-stop(100%,#232B30)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D4850', endColorstr='#232B30',GradientType=0 ); /* ie */
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* CSS3 */
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Firefox */
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Safari, Chrome */
}
.button:hover {
    color: #fff;
    background: #4C5A64; /* old browsers */
    background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4C5A64), color-stop(4%,#404F5A), color-stop(100%,#2E3940)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C5A64', endColorstr='#2E3940',GradientType=0 ); /* ie */
}
.button:active {
    background-position: 0 top;
    position: relative;
    top: 1px;
    color: #fff;
    padding: 6px 12px 4px;
    background: #20282D; /* old browsers */
    background: -moz-linear-gradient(top, #20282D 3%, #252E34 51%, #222A30 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#20282D), color-stop(51%,#252E34), color-stop(100%,#222A30)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20282D', endColorstr='#222A30',GradientType=0 ); /* ie */
    -moz-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Firefox */
    -webkit-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Safari, Chrome */
    box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* CSS3 */
}