<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.uniol.inf.is.odysseus.rcp.viewer.model.ModelManagerExtensionPoint" name="Viewer Model ExtensionPoint" schema="schema/de.uniol.inf.is.odysseus.rcp.viewer.model.extensionproint.exsd"/>

</plugin>
