<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.uniol.inf.is.odysseus.rcp.editor.graph.editors.MultiPageGraphEditor"
            contributorClass="de.uniol.inf.is.odysseus.rcp.editor.graph.editors.OperatorGraphEditorContributor"
            default="true"
            extensions="grp"
            icon="icons/graph.png"
            id="de.uniol.inf.is.odysseus.rcp.editor.graph.editors.MultiPageGraphEditor"
            name="Operator Graph Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            name="Operator Graph Page"
            icon="icons/graph.png"
            category="de.uniol.inf.is.odysseus.rcp.wizard.category"
            class="de.uniol.inf.is.odysseus.rcp.editor.graph.wizards.OperatorGraphNewWizard"
            id="de.uniol.inf.is.odysseus.rcp.editor.graph.wizards.OperatorGraphNewWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.rcp.editor.graph.views.OperatorGraphPropertyView"
            icon="icons/operator_edit.png"
            id="de.uniol.inf.is.odysseus.rcp.editor.graph.operatorGraphView"
            name="Graph Operator Properties"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.uniol.inf.is.odysseus.rcp.editor.graph.editors.commands.RunQueryCommandHandler"
            commandId="de.uniol.inf.is.odysseus.rcp.editor.text.RunQuery">
         <activeWhen>
            <with
                  variable="activePartId">
               <or>
                  <equals
                        value="de.uniol.inf.is.odysseus.rcp.editor.graph.editors.MultiPageGraphEditor">
                  </equals>
                  <equals
                        value="de.uniol.inf.is.odysseus.rcp.editor.graph.operatorGraphView">
                  </equals></or>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="de.uniol.inf.is.odysseus.rcp.editor.graph.wizards.OperatorGraphNewWizard">
         <enablement></enablement>
      </commonWizard>
   </extension>

</plugin>
