<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.uniol.inf.is.odysseus.rcp.viewer.view.editor.impl.GraphViewEditor"
            default="false"
            icon="icons/graph.jpg"
            id="de.uniol.inf.is.odysseus.rcp.viewer.view.GraphEditor"
            name="Graph Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.viewer.view.commands.CallGraphEditorCommand"
            id="de.uniol.inf.is.odysseus.rcp.viewer.view.commands.callGraphEditor"
            name="Call Graph Editor">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.viewer.view.commands.CallActiveGraphEditor"
            id="de.uniol.inf.is.odysseus.rcp.viewer.view.commands.callActiveGraphEditor"
            name="Call Graph Editor with Active Graph">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.uniol.inf.is.odysseus.rcp.viewer.view.activator.Startup">
      </startup>
   </extension>


</plugin>
