<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2012 The Odysseus Team
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
    http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<simulation>
	<!-- What's the name of the world being simulated? -->
	<worldname>IDEAAL-Wohnung</worldname>
	<!-- What are the calibration coordinates associated to the 
		background map? Use decimal degrees. 
		Hint: http://www.fcc.gov/mb/audio/bickel/DDDMMSS-decimal.html  -->
	<calibration>
		<topright    latitude="81.6" longitude="9"/>
		<bottomright latitude="-5" longitude="10.98"/>
		<bottomleft  latitude="-20"  longitude="-15"/>
	</calibration>
	<!-- How many seconds does each simulation iteration represent-->
	<iterationstep>30</iterationstep>
	<!-- Simulation time at startup (World creation date) -->
	<starttime>
		<year>2011</year>
		<month>2</month>
		<day>23</day>
		<hour>15</hour>
		<minute>0</minute>
	</starttime>
	<!-- Relative path to the sprites (movable characters) in the simulation.
		Suggestion: choose a size that fits your population -->
	<spritepath>res/sprites/38x22</spritepath>
	<!-- Models to employ. The Empty models do nothing. Please ensure 
		that the class you specify is in the classpath -->
	<!-- What are the classes that model the behaviour of agents, the world 
	and context? -->
	<models>
		<agentmodel>de.uniol.inf.is.odysseus.aalso.simulation.ideaal.AgentModel</agentmodel>
		<worldmodel>de.uniol.inf.is.odysseus.aalso.simulation.ideaal.WorldModel</worldmodel>
		<contextmodel>de.uniol.inf.is.odysseus.aalso.simulation.ideaal.ContextModel</contextmodel>
	</models>
	<!-- For each overlay, what is the tag the simulator should associate to the pixel value? -->
	<overlays>
		<Bereiche type="discrete">
			<threshold tag="Bad" pixelvalue="0x191919"/>
			<threshold tag="Flur" pixelvalue="0x333333"/>
			<threshold tag="Arbeitsbereich" pixelvalue="0x666666"/>
			<threshold tag="Kueche" pixelvalue="0xE5E5E5E"/>
			<threshold tag="Eingang" pixelvalue="0xFFFFFF"/>
			<threshold tag="Wohnzimmer" pixelvalue="0xCCCCCC"/>
			<threshold tag="Schlafbereich" pixelvalue="0x999999"/>
		</Bereiche>
	</overlays>
</simulation>
