<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="de.uniol.inf.is.odysseus.rcp.odysseus.wizards">
            <command
                  commandId="de.uniol.inf.is.odysseus.parallelization.rcp.windows.InterOperatorParallelizationBenchmarkerWindow"
                  icon="icons/benchmarker.png"
                  label="Open Parallelization Benchmarker"
                  style="push"
                  tooltip="Open Parallelization Benchmarker">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.uniol.inf.is.odysseus.parallelization.rcp.commands.InterOperatorParallelizationBenchmarkerWindowHandler"
            id="de.uniol.inf.is.odysseus.parallelization.rcp.windows.InterOperatorParallelizationBenchmarkerWindow"
            name="Open Parallelization Benchmarker">
      </command>
   </extension>

</plugin>
