<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.uniol.inf.is.odysseus.rcp.editor.Keyword">
      <group
            class="de.uniol.inf.is.odysseus.rcp.editor.text.pql.PQLKeywords"
            colorB="0"
            colorG="0"
            colorR="0"
            name="PQL">
      </group>
   </extension>

</plugin>
