/.BoolType.java._trace
/.BoolType.xtendbin
/.ExpressionsType.java._trace
/.ExpressionsType.xtendbin
/.ExpressionsTypeProvider.java._trace
/.ExpressionsTypeProvider.xtendbin
/.FloatType.java._trace
/.FloatType.xtendbin
/.IntType.java._trace
/.IntType.xtendbin
/.StringType.java._trace
/.StringType.xtendbin