[Desktop Entry]
Encoding=UTF-8
Name=Odysseus
Comment=Launch Odysseus 1.1.0
Exec=/usr/bin/odysseus
Terminal=false
Type=Application
Icon=/usr/share/odysseus/odysseus-logo.png
StartupNotify=true
Categories=Office;
MimeType=application/odysseus;
