<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.uniol.inf.is.odysseus.rcp.editor.Keyword">
      <group
            class="de.uniol.inf.is.odysseus.rcp.editor.text.pql.PQLKeywords"
            colorB="0"
            colorG="0"
            colorR="0"
            name="PQL">
      </group>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.rcp.editor.text.pql.PQLOperatorView"
            id="de.uniol.inf.is.odysseus.rcp.editor.text.pql.PQLOperatorView"
            name="PQL Operators"
            restorable="true">
      </view>
   </extension>

</plugin>
