<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.uniol.inf.is.odysseus.rcp.editor.Keyword" name="Query Editor Keywords " schema="schema/de.uniol.inf.is.odysseus.rcp.editor.Keyword.exsd"/>
   <extension-point id="de.uniol.inf.is.odysseus.rcp.editor.PreParserKeyword" name="PreParserKeyword" schema="schema/de.uniol.inf.is.odysseus.rcp.editor.PreParserKeyword.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.uniol.inf.is.odysseus.rcp.editor.text.editor.SimpleEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="qry"
            icon="Icons/text.gif"
            id="de.uniol.inf.is.odysseus.rcp.editor.QueryTextEditor"
            name="Query Text Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:de.uniol.inf.is.odysseus.rcp.NavigatorView.popup?after=group.build">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.editor.text.RunQuery"
               label="Run Query"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:#EditorContext?after=additions">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.editor.text.RunQuery"
               label="Run Query"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="RunToolbar">
            <command
                  commandId="de.uniol.inf.is.odysseus.rcp.editor.text.RunQuery"
                  icon="Icons/run.gif"
                  label="Run Query"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.editor.text.commands.RunQueryCommand"
            id="de.uniol.inf.is.odysseus.rcp.editor.text.RunQuery"
            name="Run Query">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.rcp.editor.text.wizard.NewQueryTextWizard"
            hasPages="true"
            icon="Icons/text.gif"
            id="de.uniol.inf.is.odysseus.rcp.editor.text.NewWizard"
            name="Query Text"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.uniol.inf.is.odysseus.rcp.perspective.queries">
         <newWizardShortcut
               id="de.uniol.inf.is.odysseus.rcp.editor.text.NewWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="de.uniol.inf.is.odysseus.rcp.editor.PreParserKeyword">
      <PreParserKeyword
            class="de.uniol.inf.is.odysseus.rcp.editor.text.parser.keyword.ParserPreParserKeyword"
            name="PARSER">
      </PreParserKeyword>
      <PreParserKeyword
            class="de.uniol.inf.is.odysseus.rcp.editor.text.parser.keyword.TransCfgPreParserKeyword"
            name="TRANSCFG">
      </PreParserKeyword>
      <PreParserKeyword
            class="de.uniol.inf.is.odysseus.rcp.editor.text.parser.keyword.QueryPreParserKeyword"
            name="QUERY">
      </PreParserKeyword>
      <PreParserKeyword
            class="de.uniol.inf.is.odysseus.rcp.editor.text.parser.keyword.CyclicQueryPreParserKeyword"
            name="CYCLICQUERY">
      </PreParserKeyword>
   </extension>
   <extension
         point="de.uniol.inf.is.odysseus.rcp.editor.Keyword">
      <group
            class="de.uniol.inf.is.odysseus.rcp.editor.text.parser.keyword.ParserIDKeywordGroup"
            colorB="255"
            colorG="0"
            colorR="255"
            name="ParserIDs">
         <keyword
               name="de.uniol.inf.is.odysseus.rcp.editor.text.keyword4">
         </keyword>
      </group>
      <group
            class="de.uniol.inf.is.odysseus.rcp.editor.text.parser.keyword.TransCfgKeywordGroup"
            colorB="255"
            colorG="0"
            colorR="255"
            name="TransCfgs">
         <keyword
               name="de.uniol.inf.is.odysseus.rcp.editor.text.keyword5">
         </keyword>
      </group>
   </extension>

</plugin>
