<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.uniol.inf.is.odysseus.rcp.editor.script.impl.VisualOdysseusScriptEditor"
            default="false"
            id="de.uniol.inf.is.odysseus.rcp.editor.script.editor2"
            name="Visual Odysseus Script Editor">
      </editor>
   </extension>

</plugin>
