<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.uniol.inf.is.odysseus.rcp.viewer.StreamEditor" name="Stream Editor" schema="schema/de.uniol.inf.is.odysseus.rcp.viewer.StreamEditor.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.uniol.inf.is.odysseus.rcp.viewer.stream.ShowStream"
            name="ShowStream">
         <commandParameter
               id="de.uniol.inf.is.odysseus.rcp.viewer.stream.StreamEditorType"
               name="Stream Editor Type"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="isNodeView">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="de.uniol.inf.is.odysseus.rcp.viewer.view.graph.INodeView">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="isIQuery">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="de.uniol.inf.is.odysseus.base.planmanagement.query.IQuery">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.uniol.inf.is.odysseus.rcp.viewer.stream.command.ShowStreamCommand"
            commandId="de.uniol.inf.is.odysseus.rcp.viewer.stream.ShowStream">
         <enabledWhen>
            <or>
               <reference
                     definitionId="isNodeView">
               </reference>
               <reference
                     definitionId="isIQuery">
               </reference>
            </or>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.uniol.inf.is.odysseus.rcp.viewer.stream.editor.StreamEditor"
            default="false"
            icon="Icons/lupe.gif"
            id="de.uniol.inf.is.odysseus.rcp.viewer.stream.StreamEditor"
            name="Stream Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            class="de.uniol.inf.is.odysseus.rcp.viewer.stream.extension.StreamMenuFactory"
            locationURI="popup:de.uniol.inf.is.odysseus.rcp.viewer.GraphOutline">
      </menuContribution>
      <menuContribution
            class="de.uniol.inf.is.odysseus.rcp.viewer.stream.extension.StreamMenuFactory"
            locationURI="popup:de.uniol.inf.is.odysseus.rcp.viewer.queryview">
      </menuContribution>
   </extension>

</plugin>
