<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<!-- TODO: Add <servlet> tags for each servlet here. -->
	<!-- TODO: Add <servlet-mapping> tags for each <servlet> here. -->
	<!-- TODO: Optionally add a <welcome-file-list> tag to display a welcome file. -->
	<servlet>
		<servlet-name>WiringEditor</servlet-name>
		<servlet-class>de.offis.gui.server.WiringEditorServlet</servlet-class>
		<init-param>
			<param-name>SCAI_SERVER</param-name>
			<param-value>http://srvverkehr01.offis.uni-oldenburg.de:9080/scampi-api/SCAI</param-value>
		</init-param>
		<init-param>
            <param-name>SCAI_USER</param-name>
            <param-value>Superuser</param-value>
        </init-param>
        <init-param>
            <param-name>SCAI_PASS</param-name>
            <param-value>QWERT1q!</param-value>
        </init-param>
        <init-param>
            <param-name>SCAI_OPERATORS_BLACKLIST</param-name>
            <param-value></param-value>
        </init-param>
        <init-param>
            <param-name>SCAI_OPERATORS_WHITELIST</param-name>
            <param-value></param-value>
        </init-param>
        <init-param>
        	<param-name>ODYSSEUS_WSDLLOCATION</param-name>
        	<param-value></param-value>
        </init-param>
        <init-param>
        	<param-name>ODYSSEUS_SERVICENAMESPACE</param-name>
        	<param-value></param-value>
        </init-param>
        <init-param>
        	<param-name>ODYSSEUS_SERVICE</param-name>
        	<param-value></param-value>
        </init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>WiringEditor</servlet-name>
		<url-pattern>/de.offis.gui.Operators/wiring</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Operators.html</welcome-file>
	</welcome-file-list>
</web-app>
