<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="de.uniol.inf.is.odysseus.rcp.wizards"
         name="Odysseus Wizards"
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="de.uniol.inf.is.odysseus.rcp.wizard.category"
            class="de.uniol.inf.is.odysseus.rcp.wizard.output.OutputWizard"
            finalPerspective="de.uniol.inf.is.odysseus.rcp.perspectives.QueriesPerspective"
            hasPages="true"
            icon="icons/network-hub.png"
            id="de.uniol.inf.is.odysseus.rcp.wizard.output"
            name="New Output"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="de.uniol.inf.is.odysseus.rcp.wizard.output">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="de.uniol.inf.is.odysseus.rcp.wizard.output">
         <enablement></enablement>
      </commonWizard>
   </extension>

</plugin>
