<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.uniol.inf.is.odysseus.rcp.DashboardPart">
      <dashboardPart
            class="de.uniol.inf.is.odysseus.rcp.dashboard.part.TableDashboardPart"
            description="Tabular overview of recieved tuples of one query"
            name="Table">
         <setting
               description="Comma-separated list of attribute-names shown in the table. Must be not empty."
               isEditable="true"
               isOptional="false"
               name="Attributes"
               type="String">
         </setting>
      </dashboardPart>
   </extension>

</plugin>
