<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.uniol.inf.is.odysseus.net.rcp.perspective.OdysseusNetPerspective"
            icon="icons/odysseusNetSymbol.png"
            id="de.uniol.inf.is.odysseus.net.rcp.Perspektive"
            name="OdysseusNet">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.uniol.inf.is.odysseus.net.rcp.OdysseusNetCategory"
            name="OdysseusNet">
      </category>
      <view
            allowMultiple="false"
            category="de.uniol.inf.is.odysseus.net.rcp.OdysseusNetCategory"
            class="de.uniol.inf.is.odysseus.net.rcp.views.NodeViewPart"
            icon="icons/node.png"
            id="de.uniol.inf.is.odysseus.net.rcp.NodeView"
            name="Nodes"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="de.uniol.inf.is.odysseus.net.rcp.OdysseusNetCategory"
            class="de.uniol.inf.is.odysseus.net.rcp.views.ChatView"
            icon="icons/chat.png"
            id="de.uniol.inf.is.odysseus.net.rcp.ChatView"
            name="Chat"
            restorable="true">
      </view>
      <view
            category="de.uniol.inf.is.odysseus.net.rcp.OdysseusNetCategory"
            class="de.uniol.inf.is.odysseus.net.rcp.views.PingMapView"
            icon="icons/ping.gif"
            id="de.uniol.inf.is.odysseus.net.rcp.PingMap"
            name="Ping Map"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.uniol.inf.is.odysseus.net.rcp.commands.StartOdysseusNetCommand"
            id="de.uniol.inf.is.odysseus.net.rcp.StartOdysseusNetCommand"
            name="Start OdysseusNet">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.uniol.inf.is.odysseus.net.rcp.NodeView">
         <command
               commandId="de.uniol.inf.is.odysseus.net.rcp.StartOdysseusNetCommand"
               icon="icons/odysseusNetSymbol.png"
               label="Start OdysseusNet"
               style="toggle"
               tooltip="Start/Stop OdysseusNet">
         </command>
      </menuContribution>
   </extension>

</plugin>
