<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.uniol.inf.is.odysseus.rcp.DashboardPart" name="Dashboard Part Extension Point" schema="schema/de.uniol.inf.is.odysseus.rcp.DashboardPart.exsd"/>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="de.uniol.inf.is.odysseus.rcp.wizard.category"
            class="de.uniol.inf.is.odysseus.rcp.dashboard.wizards.NewDashboardPartWizard"
            icon="icons/dashboardPart.jpg"
            id="de.uniol.inf.is.odysseus.rcp.dashboard.NewDashboardPartWizard"
            name="Dashboard Part"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.uniol.inf.is.odysseus.rcp.dashboard.editors.DashboardPartEditor"
            default="true"
            extensions="prt"
            icon="icons/dashboardPart_icon.png"
            id="de.uniol.inf.is.odysseus.rcp.dashboard.DashboardPartEditor"
            name="Odysseus Dashboard Part Editor">
      </editor>
   </extension>

</plugin>
