<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.uniol.inf.is.odysseus.rcp.DashboardPart" name="Dashboard Part Extension Point" schema="schema/de.uniol.inf.is.odysseus.rcp.DashboardPart.exsd"/>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="de.uniol.inf.is.odysseus.rcp.wizard.category"
            class="de.uniol.inf.is.odysseus.rcp.dashboard.wizards.NewDashboardPartWizard"
            icon="icons/dashboardPart.jpg"
            id="de.uniol.inf.is.odysseus.rcp.dashboard.NewDashboardPartWizard"
            name="Dashboard Part"
            project="false">
      </wizard>
      <wizard
            category="de.uniol.inf.is.odysseus.rcp.wizard.category"
            class="de.uniol.inf.is.odysseus.rcp.dashboard.wizards.NewDashboardWizard"
            icon="icons/dashboard.jpg"
            id="de.uniol.inf.is.odysseus.rcp.dashboard.NewDashboardWizard"
            name="Dashboard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.uniol.inf.is.odysseus.rcp.dashboard.editors.DashboardPartEditor"
            default="true"
            extensions="prt"
            icon="icons/dashboardPart.jpg"
            id="de.uniol.inf.is.odysseus.rcp.dashboard.DashboardPartEditor"
            name="Odysseus Dashboard Part Editor">
      </editor>
      <editor
            class="de.uniol.inf.is.odysseus.rcp.dashboard.editors.DashboardEditor"
            default="true"
            extensions="dsh"
            icon="icons/dashboard.jpg"
            id="de.uniol.inf.is.odysseus.rcp.dashboard.DashboardEditor"
            name="Odysseus Dashboard Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.AddDashboardPart"
               label="Add Dashboard Part(s)"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.dashboard.commands.AddDashboardPartCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.AddDashboardPart"
            name="Add Dashboard Part">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="de.uniol.inf.is.odysseus.rcp.dashboard.NewDashboardPartWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="de.uniol.inf.is.odysseus.rcp.dashboard.NewDashboardWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="de.uniol.inf.is.odysseus.rcp.dashboard.NewDashboardPartWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="de.uniol.inf.is.odysseus.rcp.dashboard.NewDashboardWizard">
         <enablement></enablement>
      </commonWizard>
   </extension>

</plugin>
