<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.uniol.de/inf/is/odysseus/eca/ECA" 
       class = "de.uniol.inf.is.odysseus.eca.eCA.ECAPackage"
       genModel = "model/generated/ECA.genmodel" /> 
	
  </extension>



</plugin>
