<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="windSCADA"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="windscadaanwendung.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="windscadaanwendung.Perspective"
            id="windSCADAAnwendung.perspective">
      </perspective>
   </extension>
   <extension
         id="windSCADA"
         point="org.eclipse.core.runtime.products">
      <product
            application="windscadaanwendung.windSCADA"
            name="windSCADA">
         <property
               name="appName"
               value="windSCADA">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="windSCADAAnwendung"
            name="Sample Category">
      </category>
      <view
            category="windSCADAAnwendung"
            class="windscadaanwendung.views.DetailView"
            id="windscadaanwendung.views.DetailView"
            name="Windkraftanlage">
      </view>
      <view
            class="windscadaanwendung.views.ListView"
            id="windacadaanwendung.ListView"
            name="ListView"
            restorable="true">
      </view>
      <view
            class="windscadaanwendung.views.UebersichtView"
            id="windscadaanwendung.views.UebersichtView"
            name="Uebersicht"
            restorable="true">
      </view>
      <view
            class="windscadaanwendung.views.DPVTest"
            id="windscadaanwendung.views.DPVTest"
            name="DPVTest"
            restorable="true">
      </view>
      <view
            class="windscadaanwendung.views.MapView"
            id="windscadaanwendung.views.MapView"
            name="Karte"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="windscadaanwendung.SplashHandler"
            id="windscadaanwendung.SplashHandler.id">
      </splashHandler>
      <splashHandlerProductBinding
            productId="windscadaanwendung.windSCADA"
            splashId="windscadaanwendung.SplashHandler.id">
      </splashHandlerProductBinding>
   </extension>

</plugin>
