<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="windSCADA"
            class="windscadaanwendung.Perspective"
            id="windscadaanwendung.perspective">
      </perspective>
      <perspective
            class="windscadaanwendung.PerspectiveWithoutMachineLearning"
            id="windscadaanwendung.perspectiveWithoutML"
            name="windSCADAwithoutML">
      </perspective>
   </extension>
   <extension
         id="windSCADA"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.uniol.inf.is.odysseus.client.starter.OdysseusStudioApplication"
            name="windSCADA">
         <property
               name="appName"
               value="windSCADA">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="windscadaanwendung.category"
            name="windSCADA">
      </category>
      <view
            category="windscadaanwendung.category"
            class="windscadaanwendung.views.DetailView"
            id="windscadaanwendung.views.DetailView"
            name="Windkraftanlage">
      </view>
      <view
            category="windscadaanwendung.category"
            class="windscadaanwendung.views.ListView"
            id="windacadaanwendung.ListView"
            name="ListView"
            restorable="true">
      </view>
      <view
            category="windscadaanwendung.category"
            class="windscadaanwendung.views.UebersichtView"
            id="windscadaanwendung.views.UebersichtView"
            name="Uebersicht"
            restorable="true">
      </view>
      <view
            category="windscadaanwendung.category"
            class="windscadaanwendung.views.NebulaMapView"
            id="windscadaanwendung.views.NebulaMapView"
            name="Karte"
            restorable="true">
      </view>
      <view
            category="windscadaanwendung.category"
            class="windscadaanwendung.views.dashboard.CorrectedScorePart"
            id="windscadaanwendung.views.dashboard.CorrectedScorePart"
            name="Leistung"
            restorable="true">
      </view>
      <view
            category="windscadaanwendung.category"
            class="windscadaanwendung.views.dashboard.CorrectedScoreWindSpeedPart"
            id="windscadaanwendung.views.dashboard.CorrectedScoreWindSpeedPart"
            name="Leistung und Windgeschwindigkeit"
            restorable="true">
      </view>
      <view
            category="windscadaanwendung.category"
            class="windscadaanwendung.views.dashboard.RotationalSpeedPart"
            id="windscadaanwendung.views.dashboard.RotationalSpeedPart"
            name="Rotationsgeschwindigkeit"
            restorable="true">
      </view>
      <view
            category="windscadaanwendung.category"
            class="windscadaanwendung.views.dashboard.WindSpeedPart"
            id="windscadaanwendung.views.dashboard.WindSpeedPart"
            name="Windgeschwindigkeit"
            restorable="true">
      </view>
      <view
            category="windscadaanwendung.category"
            class="windscadaanwendung.views.dashboard.WindDirectionPart"
            id="windscadaanwendung.views.dashboard.WindDirectionPart"
            name="Windrichtung"
            restorable="true">
      </view>
      <view
            category="windscadaanwendung.category"
            class="windscadaanwendung.views.dashboard.GierAnglePart"
            id="windscadaanwendung.views.dashboard.GierAnglePart"
            name="Gierwinkel"
            restorable="true">
      </view>
      <view
            category="windscadaanwendung.category"
            class="windscadaanwendung.views.dashboard.AEListPart"
            id="windscadaanwendung.views.dashboard.AEListPart"
            name="Warnings und Errors"
            restorable="true">
      </view>
      <view
            category="windscadaanwendung.category"
            class="windscadaanwendung.views.HitAEView"
            id="windscadaanwendung.views.HitAEView"
            name="Historische Warnings und Errors"
            restorable="true">
      </view>
      <view
            category="windscadaanwendung.category"
            class="windscadaanwendung.views.dashboard.ParkSumCorrectedScorePart"
            id="windscadaanwendung.views.dashboard.ParkSumCorrectedScorePart"
            name="Gesamtleistung"
            restorable="true">
      </view>
      <view
            category="windscadaanwendung.category"
            class="windscadaanwendung.views.dashboard.ParkColorListPart"
            id="windscadaanwendung.views.dashboard.ParkColorListPart"
            name="Farbliste"
            restorable="true">
      </view>
      <view
            category="windscadaanwendung.category"
            class="windscadaanwendung.views.dashboard.SVRPart"
            id="windscadaanwendung.views.dashboard.SVRPart"
            name="Vorhersage"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="windscadaanwendung.commands"
            defaultHandler="windscadaanwendung.rcp.InitWindSCADAHandler"
            id="windscadaanwendung.init"
            name="WindSCADA Initialization">
      </command>
      <category
            id="windscadaanwendung.commands"
            name="WindSCADA">
      </category>
      <command
            categoryId="windscadaanwendung.commands"
            defaultHandler="windscadaanwendung.rcp.InitWindSCADAHandlerWithML"
            id="windscadaanwendung.initML"
            name="WindSCADA Initialization">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="de.uniol.inf.is.odysseus.rcp.odysseus.views">
            <command
                  commandId="windscadaanwendung.init"
                  label="Init windSCADA"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="de.uniol.inf.is.odysseus.rcp.odysseus.views">
            <command
                  commandId="windscadaanwendung.initML"
                  label="Init windSCADA with ML"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
</plugin>
