<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:de.uniol.inf.is.odysseus.rcp.views.query.QueryView">
         <menu
               id="de.uniol.inf.is.odysseus.rcp.viewer.stream.charts.menu"
               label="Charts">
            <command
                  commandId="de.offis.chart.menu.command.ShowProbabilityChart2D"
                  label="ProbabilityChart2D"
                  style="push"
                  tooltip="Shows a ProbabilityChart2D">
            </command>
            <command
                  commandId="de.offis.chart.menu.command.ShowProbabilityChart3D"
                  label="ProbabilityChart3D"
                  style="push"
                  tooltip="Shows a ProbabilityChart3D">
            </command>
            </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
       <command
            defaultHandler="de.uniol.inf.is.odysseus.probabilistic.rcp.chart.menu.command.ShowProbabilityChart2D"
            id="de.offis.chart.menu.command.ShowProbabilityChart2D"
            name="ProbabilityChart2D Command">
      </command>
       <command
            defaultHandler="de.uniol.inf.is.odysseus.probabilistic.rcp.chart.menu.command.ShowProbabilityChart3D"
            id="de.offis.chart.menu.command.ShowProbabilityChart3D"
            name="ProbabilityChart3D Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.probabilistic.rcp.chart.ProbabilityChart2D"
            id="de.offis.chart.charts.probabilitychart2d"
            name="ProbabilityChart2D"
            restorable="false">
      </view>
            <view
            allowMultiple="true"
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.probabilistic.rcp.chart.ProbabilityChart3D"
            id="de.offis.chart.charts.probabilitychart3d"
            name="ProbabilityChart3D"
            restorable="false">
      </view>
   </extension>
<extension
         id="Dashboard Part Defaults"
         name="Dashboard Part Defaults"
         point="de.uniol.inf.is.odysseus.rcp.DashboardPart">
      <dashboardPart
            class="de.uniol.inf.is.odysseus.probabilistic.rcp.dashboard.ProbabilityChart2DDashboardPart"
            description="Chart overview of recieved tuples of one query"
            name="ProbabilityChart2D">
         <setting
               description="Comma-separated list of attribute-names shown in the chart. Must be not empty."
               isEditable="true"
               isOptional="false"
               name="Attributes"
               type="String">
         </setting>
         <setting
               defaultValue="10"
               description="Number of samples "
               isEditable="true"
               isOptional="true"
               name="Samples"
               type="Integer">
         </setting>
         <setting
               defaultValue="10"
               description="Minimum X value"
               isEditable="true"
               isOptional="true"
               name="MinX"
               type="Double">
         </setting>
         <setting
               defaultValue="10"
               description="Maximum X value "
               isEditable="true"
               isOptional="true"
               name="MaxX"
               type="Double">
         </setting>
      </dashboardPart>
      <dashboardPart
            class="de.uniol.inf.is.odysseus.probabilistic.rcp.dashboard.ProbabilityChart3DDashboardPart"
            description="Chart overview of recieved tuples of one query"
            name="ProbabilityChart3D">
         <setting
               description="Comma-separated list of attribute-names shown in the chart. Must be not empty."
               isEditable="true"
               isOptional="false"
               name="Attributes"
               type="String">
         </setting>
         <setting
               defaultValue="10"
               description="Number of samples "
               isEditable="true"
               isOptional="true"
               name="Samples"
               type="Integer">
         </setting>
         <setting
               defaultValue="10"
               description="Minimum X value"
               isEditable="true"
               isOptional="true"
               name="MinX"
               type="Double">
         </setting>
         <setting
               defaultValue="10"
               description="Maximum X value "
               isEditable="true"
               isOptional="true"
               name="MaxX"
               type="Double">
         </setting>
                  <setting
               defaultValue="10"
               description="Minimum Y value"
               isEditable="true"
               isOptional="true"
               name="MinY"
               type="Double">
         </setting>
         <setting
               defaultValue="10"
               description="Maximum Y value "
               isEditable="true"
               isOptional="true"
               name="MaxY"
               type="Double">
         </setting>
      </dashboardPart>
   </extension>

</plugin>
