<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="Dashboard Part Defaults"
         name="Dashboard Part Defaults"
         point="de.uniol.inf.is.odysseus.rcp.DashboardPart">
      <dashboardPart
            class="de.uniol.inf.is.odysseus.wrapper.urg.dashboard.part.UrgScannPart"
            configClass="de.uniol.inf.is.odysseus.wrapper.urg.dashboard.part.UrgScannConfigurer"
            name="URG Scann">
      </dashboardPart>
   </extension>

</plugin>
