<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="de.uniol.inf.is.odysseus.rcp.p2p_new.P2PCategory"
            class="de.uniol.inf.is.odysseus.rcp.p2p_new.views.PeerView"
            icon="icons/peer.png"
            id="de.uniol.inf.is.odysseus.rcp.p2p_new.PeerView"
            name="Peer View"
            restorable="true">
      </view>
      <view
            category="de.uniol.inf.is.odysseus.rcp.p2p_new.P2PCategory"
            class="de.uniol.inf.is.odysseus.rcp.p2p_new.views.P2PSourcesViewPart"
            id="de.uniol.inf.is.odysseus.rcp.p2p_new.P2PStreamAndView"
            name="P2P Sources"
            restorable="true">
      </view>
      <category
            id="de.uniol.inf.is.odysseus.rcp.p2p_new.P2PCategory"
            name="P2P">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.p2p_new.commands.RefreshPeerViewCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.RefreshPeerViewCommand"
            name="Refresh Peer View">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.p2p_new.commands.ImportCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.ImportCommand"
            name="Import">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.uniol.inf.is.odysseus.rcp.p2p_new.PeerView">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.RefreshPeerViewCommand"
               icon="icons/refresh.gif"
               label="Refresh"
               style="push"
               tooltip="Refresh">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.uniol.inf.is.odysseus.rcp.p2p_new.P2PStreamAndView">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.ImportCommand"
               icon="icons/sources.png"
               label="Import"
               style="push"
               tooltip="Import">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.uniol.inf.is.odysseus.rcp.p2p_new.perspectives.P2PPerspective"
            icon="icons/peerComputing.png"
            id="de.uniol.inf.is.odysseus.rcp.p2p_new.Perspective"
            name="P2P">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.uniol.inf.is.odysseus.rcp.p2p_new.Perspective">
         <view
               id="de.uniol.inf.is.odysseus.rcp.p2p_new.PeerView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="true">
         </view>
         <view
               id="de.uniol.inf.is.odysseus.rcp.p2p_new.P2PStreamAndView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="true">
         </view>
         <view
               closeable="true"
               id="de.uniol.inf.is.odysseus.rcp.views.SourcesView"
               minimized="false"
               moveable="true"
               ratio="0.3f"
               relationship="bottom"
               relative="org.eclipse.ui.navigator.ProjectExplorer"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
