<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>  
<extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.uniol.inf.is.odysseus.developer.testcase.editor.TestEditorPart"
            default="true"
            extensions="case"
            icon="icons/application-run.png"
            id="de.uniol.inf.is.odysseus.rcp.test.editor.TestEditorPart"
            name="Test Case Editor">
      </editor> </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="de.uniol.inf.is.odysseus.rcp.wizard.category"
            class="de.uniol.inf.is.odysseus.developer.testcase.wizard.TestWizard"
            icon="icons/application-run.png"
            id="de.uniol.inf.is.odysseus.rcp.test.testwizard"
            name="Test Case"
            project="false">
      </wizard>
   </extension>
    <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="de.uniol.inf.is.odysseus.rcp.test.testwizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="de.uniol.inf.is.odysseus.rcp.test.testwizard">
         <enablement></enablement>
      </commonWizard>
   </extension>
                 <extension
         point="org.eclipse.ui.commands">
              <command
            defaultHandler="de.uniol.inf.is.odysseus.developer.testcase.command.TestWizardCommand"
            id="de.uniol.inf.is.odysseus.developer.testcase.command.TestWizardCommand"
            name="Test Case Wizard">
          </command>     
       </extension>
              <extension
         point="org.eclipse.ui.menus">
            <menuContribution
            allPopups="false"
            locationURI="menu:de.uniol.inf.is.odysseus.developer.menu.developer">
         <command
               commandId="de.uniol.inf.is.odysseus.developer.testcase.command.TestWizardCommand"
               label="Create Test Case"
               style="push">
         </command>
      </menuContribution>
      </extension>
</plugin>