<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.database.rcp.views.DatabaseConnectionsView"
            icon="icons/database.png"
            id="de.uniol.inf.is.odysseus.database.rcp.views.DatabaseConnectionsView"
            name="Database Connections"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="true"
               id="de.uniol.inf.is.odysseus.database.rcp.views.DatabaseConnectionsView"
               minimized="false"
               moveable="true"
               ratio="0.5"
               relationship="bottom"
               relative="de.uniol.inf.is.odysseus.rcp.views.SourcesView"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
