<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.uniol.inf.is.odysseus.core.server.application.odysseus"
            name="Odysseus Server">
         <property
               name="appName"
               value="Odysseus Server">
         </property>
      </product>
   </extension>
</plugin>