<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.uniol.inf.is.odysseus.rcp.viewer.StreamEditor" name="Stream Editor" schema="schema/de.uniol.inf.is.odysseus.rcp.viewer.StreamEditor.exsd"/>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.uniol.inf.is.odysseus.rcp.viewer.StartUp">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.uniol.inf.is.odysseus.rcp.commands.ShowStreamCommand"
            name="ShowStream">
         <commandParameter
               id="de.uniol.inf.is.odysseus.rcp.parameters.StreamEditorTypeParameter"
               name="Stream Editor Type"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.viewer.commands.CallGraphEditorCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.CallGraphEditorCommand"
            name="Call Graph Editor">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.viewer.commands.CallActiveGraphEditor"
            id="de.uniol.inf.is.odysseus.rcp.commands.CallActiveGraphEditor"
            name="Call Active Graph Editor">
      </command>
      <command
            id="de.uniol.inf.is.odysseus.rcp.commands.BreakOperatorCommand"
            name="Break Operator">
      </command>
      <command
            id="de.uniol.inf.is.odysseus.rcp.commands.StepOperatorCommand"
            name="Step Operator">
      </command>
      <command
            id="de.uniol.inf.is.odysseus.rcp.commands.ResumeOperatorCommand"
            name="Resume Operator">
      </command>
      <command
            id="de.uniol.inf.is.odysseus.rcp.commands.RemoveOperatorBreakCommand"
            name="Remove OperatorBreak">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="isNodeView">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="de.uniol.inf.is.odysseus.rcp.viewer.view.INodeView">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="isQuery">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="de.uniol.inf.is.odysseus.planmanagement.query.IQuery">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="isOperatorBreak">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="de.uniol.inf.is.odysseus.rcp.viewer.opbreak.OperatorBreak">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.uniol.inf.is.odysseus.rcp.viewer.commands.ShowStreamCommand"
            commandId="de.uniol.inf.is.odysseus.rcp.commands.ShowStreamCommand">
         <enabledWhen>
            <or>
               <reference
                     definitionId="isNodeView">
               </reference>
               <reference
                     definitionId="isQuery">
               </reference>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="de.uniol.inf.is.odysseus.rcp.viewer.commands.BreakOperatorCommand"
            commandId="de.uniol.inf.is.odysseus.rcp.commands.BreakOperatorCommand">
         <enabledWhen>
            <or>
               <reference
                     definitionId="isNodeView">
               </reference>
               <reference
                     definitionId="isOperatorBreak">
               </reference>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="de.uniol.inf.is.odysseus.rcp.viewer.commands.StepOperatorCommand"
            commandId="de.uniol.inf.is.odysseus.rcp.commands.StepOperatorCommand">
         <enabledWhen>
            <or>
               <reference
                     definitionId="isNodeView">
               </reference>
               <reference
                     definitionId="isOperatorBreak">
               </reference>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="de.uniol.inf.is.odysseus.rcp.viewer.commands.ResumeOperatorCommand"
            commandId="de.uniol.inf.is.odysseus.rcp.commands.ResumeOperatorCommand">
         <enabledWhen>
            <or>
               <reference
                     definitionId="isNodeView">
               </reference>
               <reference
                     definitionId="isOperatorBreak">
               </reference>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="de.uniol.inf.is.odysseus.rcp.viewer.commands.RemoveOperatorBreakCommand"
            commandId="de.uniol.inf.is.odysseus.rcp.commands.RemoveOperatorBreakCommand">
         <enabledWhen>
            <reference
                  definitionId="isOperatorBreak">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.uniol.inf.is.odysseus.rcp.viewer.editors.StreamEditor"
            default="false"
            icon="icons/lupe.gif"
            id="de.uniol.inf.is.odysseus.rcp.editors.StreamEditor"
            name="Stream Editor">
      </editor>
      <editor
            class="de.uniol.inf.is.odysseus.rcp.viewer.editors.impl.GraphViewEditor"
            default="false"
            icon="icons/graph.jpg"
            id="de.uniol.inf.is.odysseus.rcp.editors.GraphEditor"
            name="Graph Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:de.uniol.inf.is.odysseus.rcp.editors.GraphEditor">
         <separator
               name="additions"
               visible="false">
         </separator>
         <menu
               id="operator"
               label="Operator">
            <command
                  commandId="de.uniol.inf.is.odysseus.rcp.commands.BreakOperatorCommand"
                  label="Break"
                  style="push">
            </command>
            <command
                  commandId="de.uniol.inf.is.odysseus.rcp.commands.StepOperatorCommand"
                  label="Step"
                  style="push">
            </command>
            <command
                  commandId="de.uniol.inf.is.odysseus.rcp.commands.ResumeOperatorCommand"
                  label="Resume"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="de.uniol.inf.is.odysseus.rcp.ViewerToolBar">
            <command
                  commandId="de.uniol.inf.is.odysseus.rcp.commands.CallActiveGraphEditor"
                  icon="icons/graph.jpg"
                  label="Active Graph"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="de.uniol.inf.is.odysseus.rcp.viewer.extension.StreamMenuFactory"
            locationURI="popup:de.uniol.inf.is.odysseus.rcp.viewer.view.outline">
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="de.uniol.inf.is.odysseus.rcp.viewer.extension.StreamMenuFactory"
            locationURI="popup:de.uniol.inf.is.odysseus.rcp.views.QueryView">
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="de.uniol.inf.is.odysseus.rcp.viewer.extension.StreamMenuFactory"
            locationURI="popup:de.uniol.inf.is.odysseus.rcp.editors.GraphEditor?after=additions">
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.uniol.inf.is.odysseus.rcp.views.QueryView">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.CallActiveGraphEditor"
               icon="icons/graph.jpg"
               label="Active Graph"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:de.uniol.inf.is.odysseus.rcp.views.OperatorBreakView">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.BreakOperatorCommand"
               label="Break"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.StepOperatorCommand"
               label="Step"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.ResumeOperatorCommand"
               label="Resume"
               style="push">
         </command>
         <separator
               name="additions"
               visible="true">
         </separator>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.RemoveOperatorBreakCommand"
               label="Remove"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="de.uniol.inf.is.odysseus.rcp.viewer.StreamEditor">
      <editor
            class="de.uniol.inf.is.odysseus.rcp.viewer.editors.StreamEditorList"
            id="de.uniol.inf.is.odysseus.rcp.streams.List"
            label="List">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.rcp.viewer.views.OperatorBreakView"
            id="de.uniol.inf.is.odysseus.rcp.views.OperatorBreakView"
            name="OperatorBreak View"
            restorable="true">
      </view>
   </extension>
</plugin>
