<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.uniol.inf.is.odysseus.rcp.viewer.StreamEditor" name="Stream Editor" schema="schema/de.uniol.inf.is.odysseus.rcp.viewer.StreamEditor.exsd"/>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.uniol.inf.is.odysseus.rcp.viewer.StartUp">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.uniol.inf.is.odysseus.rcp.commands.ShowStreamCommand"
            name="ShowStream">
         <commandParameter
               id="de.uniol.inf.is.odysseus.rcp.parameters.StreamEditorTypeParameter"
               name="Stream Editor Type"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.viewer.commands.CallGraphEditorCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.CallGraphEditorCommand"
            name="Call Graph Editor">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.viewer.commands.CallActiveGraphEditor"
            id="de.uniol.inf.is.odysseus.rcp.commands.CallActiveGraphEditor"
            name="Call Active Graph Editor">
      </command>
      <command
            id="de.uniol.inf.is.odysseus.rcp.commands.BreakOperatorCommand"
            name="Break Operator">
      </command>
      <command
            id="de.uniol.inf.is.odysseus.rcp.commands.StepOperatorCommand"
            name="Step Operator">
      </command>
      <command
            id="de.uniol.inf.is.odysseus.rcp.commands.ResumeOperatorCommand"
            name="Resume Operator">
      </command>
      <command
            id="de.uniol.inf.is.odysseus.rcp.commands.RemoveOperatorBreakCommand"
            name="Remove OperatorBreak">
      </command>
      <command
            id="de.uniol.inf.is.odysseus.rcp.commands.FlushOperatorBreakCommand"
            name="Flush OperatorBreak">
      </command>
      <command
            id="de.uniol.inf.is.odysseus.rcp.commands.RefreshGraphOutline"
            name="Refresh Graph Outline">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="isQueryID">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="java.lang.Integer">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="isNodeView">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="de.uniol.inf.is.odysseus.rcp.viewer.view.INodeView">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.uniol.inf.is.odysseus.rcp.viewer.commands.ShowStreamCommand"
            commandId="de.uniol.inf.is.odysseus.rcp.commands.ShowStreamCommand">
         <enabledWhen>
            <or>
               <reference
                     definitionId="isNodeView">
               </reference>
               <reference
                     definitionId="isQueryID">
               </reference>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="de.uniol.inf.is.odysseus.rcp.viewer.commands.RefreshGraphOutlineCommand"
            commandId="de.uniol.inf.is.odysseus.rcp.commands.RefreshGraphOutline">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.uniol.inf.is.odysseus.rcp.viewer.editors.StreamEditor"
            default="false"
            icon="icons/lupe.gif"
            id="de.uniol.inf.is.odysseus.rcp.editors.StreamEditor"
            name="Stream Editor">
      </editor>
      <editor
            class="de.uniol.inf.is.odysseus.rcp.viewer.editors.impl.GraphViewEditor"
            default="false"
            icon="icons/graph.jpg"
            id="de.uniol.inf.is.odysseus.rcp.editors.GraphEditor"
            name="Graph Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="de.uniol.inf.is.odysseus.rcp.ViewerToolBar">
            <command
                  commandId="de.uniol.inf.is.odysseus.rcp.commands.CallActiveGraphEditor"
                  icon="icons/graph.jpg"
                  label="Active Graph"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="de.uniol.inf.is.odysseus.rcp.viewer.extension.StreamMenuFactory"
            locationURI="popup:de.uniol.inf.is.odysseus.rcp.viewer.view.outline">
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="de.uniol.inf.is.odysseus.rcp.viewer.extension.StreamMenuFactory"
            locationURI="popup:de.uniol.inf.is.odysseus.rcp.views.query.QueryView">
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="de.uniol.inf.is.odysseus.rcp.viewer.extension.StreamMenuFactory"
            locationURI="popup:de.uniol.inf.is.odysseus.rcp.editors.GraphEditor?after=additions">
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.uniol.inf.is.odysseus.rcp.views.query.QueryView">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.CallActiveGraphEditor"
               icon="icons/graph.jpg"
               label="Active Graph"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:de.uniol.inf.is.odysseus.rcp.viewer.view.outline">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.RefreshGraphOutline"
               icon="icons/refresh.gif"
               label="Refresh"
               style="push"
               tooltip="Refresh">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="de.uniol.inf.is.odysseus.rcp.viewer.StreamEditor">
      <editor
            class="de.uniol.inf.is.odysseus.rcp.viewer.editors.StreamEditorList"
            id="de.uniol.inf.is.odysseus.rcp.streams.List"
            label="List">
      </editor>
      <editor
            class="de.uniol.inf.is.odysseus.rcp.viewer.editors.StreamEditorList10"
            id="de.uniol.inf.is.odysseus.rcp.streams.List10"
            label="List 10">
      </editor>
      <editor
            class="de.uniol.inf.is.odysseus.rcp.viewer.editors.StreamEditorList50"
            id="de.uniol.inf.is.odysseus.rcp.streams.List50"
            label="List 50">
      </editor>
      <editor
            class="de.uniol.inf.is.odysseus.rcp.viewer.editors.StreamEditorList100"
            id="de.uniol.inf.is.odysseus.rcp.streams.List"
            label="List 100">
      </editor>
   </extension>
</plugin>
