<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.uniol.inf.is.odysseus.rcp.editor.Keyword">
      <group
            colorB="0"
            colorG="0"
            colorR="0"
            name="CQL">
         <keyword
               name="ALL">
         </keyword>
         <keyword
               name="ADVANCE">
         </keyword>
         <keyword
               name="ALWAYS">
         </keyword>
         <keyword
               name="AND">
         </keyword>
         <keyword
               name="ANY">
         </keyword>
         <keyword
               name="AS">
         </keyword>
         <keyword
               name="AVG">
         </keyword>
         <keyword
               name="BROKER">
         </keyword>
         <keyword
               name="BY">
         </keyword>
         <keyword
               name="CHANNEL">
         </keyword>
         <keyword
               name="COMMENT">
         </keyword>
         <keyword
               name="COUNT">
         </keyword>
         <keyword
               name="CREATE">
         </keyword>
         <keyword
               name="DATE">
         </keyword>
         <keyword
               name="CSV">
         </keyword>
         <keyword
               name="DAY">
         </keyword>
         <keyword
               name="DAYS">
         </keyword>
         <keyword
               name="DB_EXECUTE">
         </keyword>
         <keyword
               name="DATABASE">
         </keyword>
         <keyword
               name="SCHEMA">
         </keyword>
         <keyword
               name="DEFAULT">
         </keyword>
         <keyword
               name="DISTINCT">
         </keyword>
         <keyword
               name="DOUBLE">
         </keyword>
         <keyword
               name="ENDTIMESTAMP">
         </keyword>
         <keyword
               name="EXISTS">
         </keyword>
         <keyword
               name="FLOAT">
         </keyword>
         <keyword
               name="FROM">
         </keyword>
         <keyword
               name="GROUP">
         </keyword>
         <keyword
               name="HAVING">
         </keyword>
         <keyword
               name="HOUR">
         </keyword>
         <keyword
               name="HOURS">
         </keyword>
         <keyword
               name="IN">
         </keyword>
         <keyword
               name="INFTY">
         </keyword>
         <keyword
               name="INTEGER">
         </keyword>
         <keyword
               name="INTERSECT">
         </keyword>
         <keyword
               name="INTO">
         </keyword>
         <keyword
               name="IS">
         </keyword>
         <keyword
               name="JOIN">
         </keyword>
         <keyword
               name="LIKE">
         </keyword>
         <keyword
               name="LONG">
         </keyword>
         <keyword
               name="MATRIX">
         </keyword>
         <keyword
               name="MAX">
         </keyword>
         <keyword
               name="METRIC">
         </keyword>
         <keyword
               name="MIN">
         </keyword>
         <keyword
               name="MINUS">
         </keyword>
         <keyword
               name="MINUTE">
         </keyword>
         <keyword
               name="MINUTES">
         </keyword>
         <keyword
               name="MV">
         </keyword>
         <keyword
               name="NATURAL">
         </keyword>
         <keyword
               name="NOT">
         </keyword>
         <keyword
               name="NULL">
         </keyword>
         <keyword
               name="OF">
         </keyword>
         <keyword
               name="OFFSET">
         </keyword>
         <keyword
               name="ON">
         </keyword>
         <keyword
               name="OR">
         </keyword>
         <keyword
               name="OSGI">
         </keyword>
         <keyword
               name="OUTPUT">
         </keyword>
         <keyword
               name="PARTITION">
         </keyword>
         <keyword
               name="PRIORITY">
         </keyword>
         <keyword
               name="PROB">
         </keyword>
         <keyword
               name="QUEUE">
         </keyword>
         <keyword
               name="RANGE">
         </keyword>
         <keyword
               name="REAL">
         </keyword>
         <keyword
               name="RELATION">
         </keyword>
         <keyword
               name="RELATIVE">
         </keyword>
         <keyword
               name="ROWS">
         </keyword>
         <keyword
               name="SECOND">
         </keyword>
         <keyword
               name="SECONDS">
         </keyword>
         <keyword
               name="SELECT">
         </keyword>
         <keyword
               name="SET">
         </keyword>
         <keyword
               name="SILAB">
         </keyword>
         <keyword
               name="SIZE">
         </keyword>
         <keyword
               name="SLIDE">
         </keyword>
         <keyword
               name="SOCKET">
         </keyword>
         <keyword
               name="STARTTIMESTAMP">
         </keyword>
         <keyword
               name="STREAM">
         </keyword>
         <keyword
               name="STRING">
         </keyword>
         <keyword
               name="SUM">
         </keyword>
         <keyword
               name="TIME">
         </keyword>
         <keyword
               name="TIMEOUT">
         </keyword>
         <keyword
               name="TO">
         </keyword>
         <keyword
               name="TUPLE">
         </keyword>
         <keyword
               name="UNBOUNDED">
         </keyword>
         <keyword
               name="UNION">
         </keyword>
         <keyword
               name="VALID">
         </keyword>
         <keyword
               name="VIEW">
         </keyword>
         <keyword
               name="WEEK">
         </keyword>
         <keyword
               name="WEEKS">
         </keyword>
         <keyword
               name="WHERE">
         </keyword>
         <keyword
               name="WITH">
         </keyword>
         <keyword
               name="SENSOR">
         </keyword>
         <keyword
               name="ATTRIBUTE">
         </keyword>
         <keyword
               name="RECORD">
         </keyword>
         <keyword
               name="LIST">
         </keyword>
      </group>
   </extension>

</plugin>
