<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.views">
      <view
            category="de.uniol.inf.is.odysseus.rcp.peer.smarthome.contextawareness.SmartHomeCategory"
            class="de.uniol.inf.is.odysseus.peer.smarthome.contextawareness.rcp.views.SmartDeviceView"
            icon="icons/SmartHome.png"
            id="de.uniol.inf.is.odysseus.rcp.peer.SmartDeviceView"
            name="Smart Devices"
            restorable="true">
      </view>
      <view
            category="de.uniol.inf.is.odysseus.rcp.peer.smarthome.contextawareness.SmartHomeCategory"
            class="de.uniol.inf.is.odysseus.peer.smarthome.contextawareness.rcp.views.SmartDeviceLogicView"
            icon="icons/SmartHome.png"
            id="de.uniol.inf.is.odysseus.rcp.peer.SmartDeviceLogicView"
            name="Smart Device Logic"
            restorable="true">
      </view>
      <view
            category="de.uniol.inf.is.odysseus.rcp.peer.smarthome.contextawareness.SmartHomeCategory"
            class="de.uniol.inf.is.odysseus.peer.smarthome.contextawareness.rcp.views.AddLogicRuleViewPart"
            icon="icons/SmartHome.png"
            id="de.uniol.inf.is.odysseus.rcp.peer.smarthome.contextawareness.AddLogicRuleViewPart"
            name="Add logic rule"
            restorable="true">
      </view>
      <view
            category="de.uniol.inf.is.odysseus.rcp.peer.smarthome.contextawareness.SmartHomeCategory"
            class="de.uniol.inf.is.odysseus.peer.smarthome.contextawareness.rcp.views.AddActivityInterpreterViewPart"
            icon="icons/SmartHome.png"
            id="de.uniol.inf.is.odysseus.rcp.peer.smarthome.contextawareness.AddActivityInterpreterViewPart"
            name="Add activity interpreter"
            restorable="true">
      </view>
      <view
            category="de.uniol.inf.is.odysseus.rcp.peer.smarthome.contextawareness.SmartHomeCategory"
            class="de.uniol.inf.is.odysseus.peer.smarthome.contextawareness.rcp.views.ShowActivityInterpreterViewPart"
            icon="icons/SmartHome.png"
            id="de.uniol.inf.is.odysseus.rcp.peer.smarthome.contextawareness.ShowActivityInterpreterViewPart"
            name="Show activity interpreter"
            restorable="true">
      </view>
      <view
            category="de.uniol.inf.is.odysseus.rcp.peer.smarthome.contextawareness.SmartHomeCategory"
            class="de.uniol.inf.is.odysseus.peer.smarthome.contextawareness.rcp.views.ShowSensorsViewPart"
            icon="icons/SmartHome.png"
            id="de.uniol.inf.is.odysseus.rcp.peer.smarthome.contextawareness.ShowSensorsViewPart"
            name="Show sensors"
            restorable="true">
      </view>
      <view
            category="de.uniol.inf.is.odysseus.rcp.peer.smarthome.contextawareness.SmartHomeCategory"
            class="de.uniol.inf.is.odysseus.peer.smarthome.contextawareness.rcp.views.SmartDeviceConfigurationView"
            icon="icons/DeviceConfiguration.png"
            id="de.uniol.inf.is.odysseus.rcp.peer.SmartDeviceConfigurationView"
            name="Smart Device Configuration"
            restorable="true">
      </view>
      <category
            id="de.uniol.inf.is.odysseus.rcp.peer.smarthome.contextawareness.SmartHomeCategory"
            name="Smart Home">
      </category>
	</extension>
	<extension
         point="org.eclipse.ui.commands">
         
      <command
            defaultHandler="de.uniol.inf.is.odysseus.peer.smarthome.contextawareness.rcp.commands.RefreshLogicRuleCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.RefreshLogicRuleCommand"
            name="Refresh logic rules">
      </command>   
      <command
            defaultHandler="de.uniol.inf.is.odysseus.peer.smarthome.contextawareness.rcp.commands.AddLogicRuleCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.AddLogicRuleCommand"
            name="Add logic rule">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.peer.smarthome.contextawareness.rcp.commands.DeleteLogicRuleCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.DeleteLogicRuleCommand"
            name="Delete logic rule">
      </command>
    </extension>
    <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.uniol.inf.is.odysseus.rcp.peer.SmartDeviceLogicView">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.RefreshLogicRuleCommand"
               label="Refresh"
               style="push"
               tooltip="Refresh">
         </command> 
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.AddLogicRuleCommand"
               label="Add"
               style="push"
               tooltip="Add">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.DeleteLogicRuleCommand"
               label="Delete"
               style="push"
               tooltip="Delete">
         </command>
      </menuContribution>
    </extension>
	<extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.uniol.inf.is.odysseus.peer.smarthome.contextawareness.rcp.perspectives.SmartHomePerspective"
            icon="icons/SmartHome.png"
            id="de.uniol.inf.is.odysseus.rcp.peer.SmartHomePerspective"
            name="Smart Home">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.uniol.inf.is.odysseus.rcp.peer.SmartHomePerspective">
         <view
               id="de.uniol.inf.is.odysseus.rcp.peer.SmartDeviceConfigurationView"
               minimized="false"
               relationship="top"
               visible="true">
         </view>
         <view
               id="de.uniol.inf.is.odysseus.rcp.peer.SmartDeviceView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="true">
         </view>
         <view
               id="de.uniol.inf.is.odysseus.rcp.peer.SmartDeviceLogicView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="true">
         </view>
         <view
               id="de.uniol.inf.is.odysseus.rcp.peer.smarthome.contextawareness.AddLogicRuleViewPart"
               minimized="false"
               relationship="stack"
               relative="de.uniol.inf.is.odysseus.rcp.peer.SmartDeviceConfigurationView"
               visible="true">
         </view>
         <view
               id="de.uniol.inf.is.odysseus.rcp.peer.smarthome.contextawareness.ShowActivityInterpreterViewPart"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="true">
         </view>
         <view
               id="de.uniol.inf.is.odysseus.rcp.peer.smarthome.contextawareness.AddActivityInterpreterViewPart"
               minimized="false"
               relationship="stack"
               relative="de.uniol.inf.is.odysseus.rcp.peer.SmartDeviceConfigurationView"
               visible="true">
         </view>
         <view
               id="de.uniol.inf.is.odysseus.rcp.peer.smarthome.contextawareness.ShowSensorsViewPart"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>