<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.uniol.inf.is.odysseus.rcp.editor.graph.editors.MultiPageGraphEditor"
            contributorClass="de.uniol.inf.is.odysseus.rcp.editor.graph.editors.OperatorGraphEditorContributor"
            default="true"
            extensions="grp"
            icon="icons/graph.png"
            id="de.uniol.inf.is.odysseus.rcp.editor.graph.editors.MultiPageGraphEditor"
            name="Operator Graph Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            name="Operator Graph Page"
            icon="icons/graph.png"
            category="de.uniol.inf.is.odysseus.rcp.wizard.category"
            class="de.uniol.inf.is.odysseus.rcp.editor.graph.wizards.OperatorGraphNewWizard"
            id="de.uniol.inf.is.odysseus.rcp.editor.graph.wizards.OperatorGraphNewWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.rcp.editor.graph.views.OperatorGraphPropertyView"
            icon="icons/operator_edit.png"
            id="de.uniol.inf.is.odysseus.rcp.editor.graph.operatorGraphView"
            name="Graph Operator Properties"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.uniol.inf.is.odysseus.rcp.editor.graph.editors.commands.RunQueryCommandHandler"
            commandId="de.uniol.inf.is.odysseus.rcp.editor.text.RunQuery">
         <activeWhen>
            <with
                  variable="activePartId">
               <or>
                  <equals
                        value="de.uniol.inf.is.odysseus.rcp.editor.graph.editors.MultiPageGraphEditor">
                  </equals>
                  <equals
                        value="de.uniol.inf.is.odysseus.rcp.editor.graph.operatorGraphView">
                  </equals></or>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="de.uniol.inf.is.odysseus.rcp.editor.graph.wizards.OperatorGraphNewWizard">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         id="de.uniol.inf.is.odysseus.rcp.editor.graph.marker.notsatisfied"
         name="Graph Editor Problem"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.uniol.inf.is.odysseus.rcp.odysseus.views?after=operators">        
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/operator_edit.png"
                  label="Graph Operator Properties"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="de.uniol.inf.is.odysseus.rcp.editor.graph.operatorGraphView">
               </parameter>
            </command>         
      </menuContribution>
   </extension>

</plugin>
