.richInterfaceLayout {
    background-color: #888 !important;
}

.titleSimplePanel {
    background-color: #444;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.simplePanel {
    border: 1px solid white;
    background-color: white;
   

    -moz-box-shadow: 6px 6px 6px #000;
    -webkit-box-shadow: 6px 6px 6px #000;
    box-shadow: 6px 6px 6px #000;


}

.gwt-SplitLayoutPanel-VDragger {
    background-color: transparent !important;
}

.gwt-splitlayoutpanel-hdragger {
    background-color: transparent !important;
}