<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.uniol.inf.is.odysseus.rcp.editor.ParameterEditor" name="Parameter Editor" schema="schema/de.uniol.inf.is.odysseus.rcp.editor.ParameterEditor.exsd"/>
   <extension-point id="de.uniol.inf.is.odysseus.rcp.editor.OperatorGroup" name="Operator Group" schema="schema/de.uniol.inf.is.odysseus.rcp.editor.OperatorGroup.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.uniol.inf.is.odysseus.rcp.editor.LogicalPlanEditorPart"
            default="false"
            extensions="pln"
            icon="icons/plan.png"
            id="de.uniol.inf.is.odysseus.rcp.LogicalPlanEditor"
            name="Logical Plan Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.uniol.inf.is.odysseus.rcp.editor.activator.Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.rcp.editor.view.ParameterViewPart"
            icon="icons/prop.gif"
            id="de.uniol.inf.is.odysseus.rcp.editor.ParameterView"
            name="Parameters"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.editor.commands.ExecutePlanCommand"
            id="de.uniol.inf.is.odysseus.rcp.editor.ExecutePlan"
            name="Execute Logical Plan">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.uniol.inf.is.odysseus.rcp.perspectives.QueriesPerspective">
         <view
               closeable="true"
               id="de.uniol.inf.is.odysseus.rcp.editor.ParameterView"
               minimized="false"
               moveable="true"
               ratio="0.70f"
               relationship="stack"
               relative="de.uniol.inf.is.odysseus.rcp.views.TenantView"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <newWizardShortcut
               id="de.uniol.inf.is.odysseus.rcp.editor.OdysseusProjectWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="de.uniol.inf.is.odysseus.rcp.editor.LogicalPlanWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="de.uniol.inf.is.odysseus.rcp.editor.text.NewWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.rcp.editor.wizard.LogicalPlanWizard"
            finalPerspective="de.uniol.inf.is.odysseus.rcp.perspectives.QueriesPerspective"
            hasPages="true"
            icon="icons/plan.png" id="de.uniol.inf.is.odysseus.rcp.editor.LogicalPlanWizard"
            name="Logical Plan">
      </wizard>
      <wizard
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.rcp.editor.wizard.OdysseusProjectWizard"
            finalPerspective="de.uniol.inf.is.odysseus.rcp.perspectives.QueriesPerspective"
            icon="icons/OdysseusProjectIcon.png"
            id="de.uniol.inf.is.odysseus.rcp.editor.OdysseusProjectWizard"
            name="Odysseus Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="de.uniol.inf.is.odysseus.rcp.editor.toolbar1">
            <command
                  commandId="de.uniol.inf.is.odysseus.rcp.editor.ExecutePlan"
                  label="Execute Logical Plan"
                  style="push"
                  tooltip="Executue Logical Plan">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="de.uniol.inf.is.odysseus.rcp.editor.OperatorGroup">
      <group
            label="Source">
         <operator
               name="ACCESS">
         </operator>
         <operator
               name="BATCHPRODUCER">
         </operator>
         <operator
               name="FILEACCESS">
         </operator>
         <operator
               name="TESTPRODUCER">
         </operator>
      </group>
      <group
            label="Join">
         <operator
               name="JOIN">
         </operator>
         <operator
               name="PRIORITYIDJOIN">
         </operator>
      </group>
      <group
            label="Sink">
         <operator
               name="FILESINK">
         </operator>
      </group>
   </extension>
   <extension
         id="OdysseusProjectNature"
         name="Odysseus Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.uniol.inf.is.odysseus.rcp.editor.nature.OdysseusProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/OdysseusProjectIconSmall.png"
            id="de.uniol.inf.is.odysseus.rcp.editor.OdysseusProjectNatureImage"
            natureId="de.uniol.inf.is.odysseus.rcp.editor.OdysseusProjectNature">
      </image>
   </extension>

</plugin>

