
.cellTreeWidget {

}

.cellTreeEmptyMessage {
  padding-left: 16px;
  font-style: italic;
}

.cellTreeItem {
  padding-top: 1px;
  padding-bottom: 1px;
  cursor: hand;
  cursor: pointer;
  zoom: 1;
}

.cellTreeItemImage {
    
}

.cellTreeItemImageValue {
  zoom: 1;
}

.cellTreeItemValue {
  padding-left: 3px;
  padding-right: 3px;
  outline: none;
}

.cellTreeOpenItem {

}

.cellTreeTopItem {
  font-weight: bold;
  color: #4b4a4a;
  padding: 3px !important;
}

.cellTreeTopItemImage {

}

.cellTreeTopItemImageValue {
  
}

.cellTreeKeyboardSelectedItem {
  background-color: #ffc;
  outline: none;
}

@sprite .cellTreeSelectedItem {
  gwt-image: 'cellTreeSelectedBackground';
  background-color: orange;
  color: white;
  height: auto;
  overflow: visible;
}

.cellTreeShowMoreButton {
  padding-left: 16px;
  outline: none;
}