<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="windperformancercp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Configuration"
            class="windperformancercp.perspectives.ConfigurePerspective"
            id="measure.windPerformanceRCP.confPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="SourceManager"
            class="windperformancercp.views.ManageSourceView"
            id="measure.windPerformanceRCP.sourceManagerView">
      </view>
      <view
            class="windperformancercp.views.AssignPerformanceMeasView"
            id="measure.windPerformanceRCP.assignPMView"
            name="AssignPMs">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="measure.windPerformanceRCP.sourceManagerView"
               minimized="false"
               ratio="1.0"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               standalone="true"
               visible="true">
         </view>
         <view
               id="measure.windPerformanceRCP.assignPMView"
               minimized="false"
               relationship="stack"
               relative="measure.windPerformanceRCP.sourceManagerView"
               standalone="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Application">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:measure.windPerformanceRCP.sourceManagerView">
         <command
               commandId="measure.windPerformanceRCP.showNewSourceDialog"
               label="New Source"
               style="push"
               tooltip="create a new source">
         </command>
         <command
               commandId="measure.windPerformanceRCP.showCopySourceDialog"
               label="Copy Source"
               style="push"
               tooltip="copy an existing source">
         </command>
         <command
               commandId="measure.windPerformanceRCP.DeleteSource"
               label="Delete Source"
               style="push"
               tooltip="delete the selected source">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="windperformancercp.views.commands.ShowNewSourceDialogCommand"
            id="measure.windPerformanceRCP.showNewSourceDialog"
            name="New Source">
      </command>
      <command
            defaultHandler="windperformancercp.views.commands.ShowCopySourceDialogCommand"
            id="measure.windPerformanceRCP.showCopySourceDialog"
            name="Copy Source">
      </command>
      <command
            defaultHandler="windperformancercp.views.commands.DeleteSourceCommand"
            id="measure.windPerformanceRCP.DeleteSource"
            name="Delete Source">
      </command>
      <command
            defaultHandler="windperformancercp.views.commands.NewAttributeDialogCommand"
            id="measure.windPerformanceRCP.showNewAttributeDialog"
            name="New Attribute">
      </command>
   </extension>

</plugin>
