<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="measure.windperformancercp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Configuration"
            class="measure.windperformancercp.perspectives.ConfigurePerspective"
            id="measure.windperformancercp.confPerspective">
      </perspective>
      <perspective
            class="measure.windperformancercp.perspectives.PlotsPerspective"
            id="measure.windperformancercp.resultPerspective"
            name="Performance Results">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="SourceManager"
            class="measure.windperformancercp.views.sources.ManageSourceView"
            id="measure.windperformancercp.sourceManagerView">
      </view>
      <view
            class="measure.windperformancercp.views.performance.AssignPerformanceMeasView"
            id="measure.windperformancercp.assignPMView"
            name="AssignPMs">
      </view>
      <view
            class="measure.windperformancercp.views.performance.FunctionPlotterView"
            id="measure.windperformancercp.functionPlotterView"
            name="Performance"
            restorable="true">
      </view>
      <view
            class="measure.windperformancercp.views.result.ActiveQueriesView"
            id="measure.windperformancercp.activeQueriesView"
            name="activeQueries">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="measure.windperformancercp.confPerspective">
         <view
               id="measure.windperformancercp.sourceManagerView"
               minimized="false"
               ratio="1.0"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               standalone="true"
               visible="true">
         </view>
         <view
               id="measure.windperformancercp.assignPMView"
               minimized="false"
               ratio="0.5"
               relationship="stack"
               relative="measure.windperformancercp.sourceManagerView"
               standalone="false">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="measure.windperformancercp.resultPerspective">
         <view
               id="measure.windperformancercp.functionPlotterView"
               minimized="false"
               ratio="0.7f"
               relationship="right"
               relative="measure.windperformancercp.activeQueriesView"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="measure.windperformancercp.activeQueriesView"
               minimized="false"
               ratio="0.3f"
               relationship="left"
               relative="measure.windperformancercp.functionPlotterView"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Application">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
            <command
                  commandId="measure.windperformancercp.SaveData"
                  label="Save"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:measure.windperformancercp.sourceManagerView">
         <command
               commandId="measure.windperformancercp.showNewSourceDialog"
               label="New Source"
               style="push"
               tooltip="create a new source">
         </command>
         <command
               commandId="measure.windperformancercp.showCopySourceDialog"
               label="Copy Source"
               style="push"
               tooltip="copy an existing source">
         </command>
         <command
               commandId="measure.windperformancercp.DeleteSource"
               label="Delete Source"
               style="push"
               tooltip="delete the selected source">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:measure.windperformancercp.assignPMView">
         <command
               commandId="measure.windperformancercp.ShowNewQueryWizardDialog"
               label="New Performance Measurement"
               style="push"
               tooltip="click to assign a new performance measurement to sources">
         </command>
         <command
               commandId="measure.windperformancercp.DeletePM"
               label="Delete Measurement"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:measure.windperformancercp.assignPMView">
         <command
               commandId="measure.windperformancercp.ConnectMeasurement"
               label="Connect"
               style="push"
               tooltip="Add measurement to datastream system. ">
         </command>
         <command
               commandId="measure.windperformancercp.DisconnectMeasurement"
               label="Disconnect"
               style="push">
         </command>
         <command
               commandId="measure.windperformancercp.DeletePM"
               label="Delete"
               style="push"
               tooltip="Delete Measurement. Befor that it is disconnected from the data stream system.">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="measure.windperformancercp.views.commands.ShowNewSourceDialogCommand"
            id="measure.windperformancercp.showNewSourceDialog"
            name="New Source">
      </command>
      <command
            defaultHandler="measure.windperformancercp.views.commands.ShowCopySourceDialogCommand"
            id="measure.windperformancercp.showCopySourceDialog"
            name="Copy Source">
      </command>
      <command
            defaultHandler="measure.windperformancercp.views.commands.DeleteSourceCommand"
            id="measure.windperformancercp.DeleteSource"
            name="Delete Source">
      </command>
      <command
            defaultHandler="measure.windperformancercp.views.commands.ShowNewQueryWizardDialogCommand"
            id="measure.windperformancercp.ShowNewQueryWizardDialog"
            name="New Measurement">
      </command>
      <command
            defaultHandler="measure.windperformancercp.views.commands.SaveModelCommand"
            id="measure.windperformancercp.SaveData"
            name="Save">
      </command>
      <command
            defaultHandler="measure.windperformancercp.views.commands.DeletePMCommand"
            id="measure.windperformancercp.DeletePM"
            name="Delete Measurement">
      </command>
      <command
            defaultHandler="measure.windperformancercp.views.commands.ConnectMeasurementCommand"
            id="measure.windperformancercp.ConnectMeasurement"
            name="Connect">
      </command>
      <command
            defaultHandler="measure.windperformancercp.views.commands.DisconnectMeasurementCommand"
            id="measure.windperformancercp.DisconnectMeasurement"
            name="Disconnect">
      </command>
   </extension>

</plugin>
