<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.rcp.logging.view.LoggingView"
            icon="icons/logging.gif"
            id="de.uniol.inf.is.odysseus.rcp.logging.LogView"
            name="Logging"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.logging.commands.AddLogTabCommand"
            id="de.uniol.inf.is.odysseus.rcp.logging.AddLoggingTab"
            name="Add Log Tab">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.logging.commands.RemoveLogTabCommand"
            id="de.uniol.inf.is.odysseus.rcp.logging.RemoveLogTab"
            name="Remove Log Tab">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.uniol.inf.is.odysseus.rcp.logging.LogView">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.logging.AddLoggingTab"
               icon="icons/add.png"
               style="push"
               tooltip="Add New Tab">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.logging.RemoveLogTab"
               icon="icons/remove.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.uniol.inf.is.odysseus.rcp.perspectives.QueriesPerspective">
         <view
               id="de.uniol.inf.is.odysseus.rcp.logging.LogView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
