<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.uniol.inf.is.odysseus.rcp.editor.operatorview.impl.OperatorViewPart"
            id="de.uniol.inf.is.odysseus.rcp.editor.OperatorView"
            name="Operators"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.uniol.inf.is.odysseus.rcp.perspective.queries">
         <view
               closeable="true"
               id="de.uniol.inf.is.odysseus.rcp.editor.OperatorView"
               minimized="false"
               moveable="true"
               relationship="stack"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.uniol.inf.is.odysseus.rcp.editor.operatorview.impl.Startup">
      </startup>
   </extension>

</plugin>
