<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.uniol.inf.is.odysseus.rcp.editor.ParameterEditor">
      <operator
            name="ACCESS">
         <editor
               class="de.uniol.inf.is.odysseus.rcp.editor.parameters.ComboParameterEditor"
               name="SOURCE">
         </editor>
         <editor
               class="de.uniol.inf.is.odysseus.rcp.editor.parameters.StringParameterEditor"
               name="TYPE">
         </editor>
         <editor
               class="de.uniol.inf.is.odysseus.rcp.editor.parameters.SpinnerParameterEditor"
               name="SIZE">
         </editor>
         <editor
               class="de.uniol.inf.is.odysseus.rcp.editor.parameters.StringParameterEditor"
               name="HOST">
         </editor>
         <editor
               class="de.uniol.inf.is.odysseus.rcp.editor.parameters.SchemaEditor"
               name="SCHEMA">
         </editor>
         <editor
               class="de.uniol.inf.is.odysseus.rcp.editor.parameters.IntegerParameterEditor"
               name="PORT">
         </editor>
      </operator>
      <operator
            name="SELECT">
         <editor
               class="de.uniol.inf.is.odysseus.rcp.editor.parameters.PredicateEditor"
               name="PREDICATE">
         </editor>
      </operator>
      <operator
            name="RENAME">
         <editor
               class="de.uniol.inf.is.odysseus.rcp.editor.parameters.AliasesEditor"
               name="ALIASES">
         </editor>
      </operator>
      <operator
            name="PROJECT">
         <editor
               class="de.uniol.inf.is.odysseus.rcp.editor.parameters.AttributesEditor"
               name="ATTRIBUTES">
         </editor>
      </operator>
      <operator
            name="JOIN">
         <editor
               class="de.uniol.inf.is.odysseus.rcp.editor.parameters.PredicateEditor"
               name="PREDICATE">
         </editor>
      </operator>
      <operator
            name="EXISTENCE">
         <editor
               class="de.uniol.inf.is.odysseus.rcp.editor.parameters.PredicateEditor"
               name="PREDICATE">
         </editor>
         <editor
               class="de.uniol.inf.is.odysseus.rcp.editor.parameters.ExistenceTypeParameterEditor"
               name="TYPE">
         </editor>
      </operator>
      <operator
            name="FILEACCESS">
         <editor
               class="de.uniol.inf.is.odysseus.rcp.editor.parameters.StringParameterEditor"
               name="SOURCE">
         </editor>
         <editor
               class="de.uniol.inf.is.odysseus.rcp.editor.parameters.FileTypeParameterEditor"
               name="FILETYPE">
         </editor>
         <editor
               class="de.uniol.inf.is.odysseus.rcp.editor.parameters.SchemaEditor"
               name="SCHEMA">
         </editor>
         <editor
               class="de.uniol.inf.is.odysseus.rcp.editor.parameters.LongParameterEditor"
               name="DELAY">
         </editor>
         <editor
               class="de.uniol.inf.is.odysseus.rcp.editor.parameters.SourceTypeParameterEditor"
               name="TYPE">
         </editor>
         <editor
               class="de.uniol.inf.is.odysseus.rcp.editor.parameters.FilePathParameterEditor"
               name="PATH">
         </editor>
      </operator>
      <operator
            name="AGGREGATION">
         <editor
               class="de.uniol.inf.is.odysseus.rcp.editor.parameters.AttributesEditor"
               name="GROUP_BY">
         </editor>
         <editor
               class="de.uniol.inf.is.odysseus.rcp.editor.parameters.AggregationsParameterEditor"
               name="AGGREGATIONS">
         </editor>
      </operator>
      <operator
            name="BUFFER">
         <editor
               class="de.uniol.inf.is.odysseus.rcp.editor.parameters.StringParameterEditor"
               name="TYPE">
         </editor>
      </operator>
      <operator
            name="WINDOW">
         <editor
               class="de.uniol.inf.is.odysseus.rcp.editor.parameters.WindowTypeParameterEditor"
               name="TYPE">
         </editor>
         <editor
               class="de.uniol.inf.is.odysseus.rcp.editor.parameters.LongParameterEditor"
               name="SIZE">
         </editor>
         <editor
               class="de.uniol.inf.is.odysseus.rcp.editor.parameters.LongParameterEditor"
               name="ADVANCE">
         </editor>
         <editor
               class="de.uniol.inf.is.odysseus.rcp.editor.parameters.LongParameterEditor"
               name="SLIDE">
         </editor>
         <editor
               class="de.uniol.inf.is.odysseus.rcp.editor.parameters.AttributesEditor"
               name="PARTITION">
         </editor>
      </operator>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.uniol.inf.is.odysseus.rcp.editor.parameters.activator.Startup">
      </startup>
   </extension>

</plugin>
