<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.uniol.inf.is.odysseus.rcp.editor.ParameterEditor">
      <editor
            class="de.uniol.inf.is.odysseus.rcp.editor.parameters.SourceParameterEditor"
            name="SOURCE"
            operator="ACCESS">
      </editor>
      <editor
            class="de.uniol.inf.is.odysseus.rcp.editor.parameters.StringParameterEditor"
            name="TYPE"
            operator="ACCESS">
      </editor>
      <editor
            class="de.uniol.inf.is.odysseus.rcp.editor.parameters.LongParameterEditor"
            name="SIZE"
            operator="ACCESS">
      </editor>
      <editor
            class="de.uniol.inf.is.odysseus.rcp.editor.parameters.StringParameterEditor"
            name="HOST"
            operator="ACCESS">
      </editor>
      <editor
            class="de.uniol.inf.is.odysseus.rcp.editor.parameters.IntegerParameterEditor"
            name="PORT"
            operator="ACCESS">
      </editor>
      <editor
            class="de.uniol.inf.is.odysseus.rcp.editor.parameters.SchemaEditor"
            name="SCHEMA"
            operator="ACCESS">
      </editor>
      <editor
            class="de.uniol.inf.is.odysseus.rcp.editor.parameters.PredicateEditor"
            name="PREDICATE"
            operator="SELECT">
      </editor>
      <editor
            class="de.uniol.inf.is.odysseus.rcp.editor.parameters.AttributesEditor"
            name="ATTRIBUTES"
            operator="PROJECT">
      </editor>
      <editor
            class="de.uniol.inf.is.odysseus.rcp.editor.parameters.AliasesEditor"
            name="ALIASES"
            operator="RENAME">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.uniol.inf.is.odysseus.rcp.editor.parameters.activator.Startup">
      </startup>
   </extension>

</plugin>
