<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.uniol.inf.is.odysseus.rcp.buildConfiguration" name="Query Build Configuration" schema="schema/de.uniol.inf.is.odysseus.rcp.buildConfiguration.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="Odysseus"
            name="Odysseus">
      </category>
      <view
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.rcp.views.query.QueryView"
            icon="icons/all-queries.png"
            id="de.uniol.inf.is.odysseus.rcp.views.query.QueryView"
            name="Queries"
            restorable="true">
      </view>
     <view
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.rcp.views.user.UserView"
            icon="icons/users.png"
            id="de.uniol.inf.is.odysseus.rcp.views.UserView"
            name="Users"
            restorable="true">
      </view>
      <view
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.rcp.views.sink.SinkView"
            icon="icons/sinks.png"
            id="de.uniol.inf.is.odysseus.rcp.views.SinkView"
            name="Sinks"
            restorable="true">
      </view>
      <view
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.rcp.views.source.SourcesView"
            icon="icons/sources.png"
            id="de.uniol.inf.is.odysseus.rcp.views.SourcesView"
            name="Sources"
            restorable="true">
      </view>
      <view
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.rcp.views.udf.UdfsView"
            icon="icons/udf.png"
            id="de.uniol.inf.is.odysseus.rcp.views.UdfsView"
            name="UDFs"
            restorable="true">
      </view>
      <view
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.rcp.views.access.DatasView"
            icon="icons/datahandlers.png"
            id="de.uniol.inf.is.odysseus.rcp.views.DatasView"
            name="Data handler"
            restorable="true">
      </view>
      <view
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.rcp.views.access.ProtocolsView"
            icon="icons/protocolhandler.png"
            id="de.uniol.inf.is.odysseus.rcp.views.ProtocolsView"
            name="Protocol handler"
            restorable="true">
      </view>
      <view
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.rcp.views.access.TransportsView"
            icon="icons/transports.png"
            id="de.uniol.inf.is.odysseus.rcp.views.TransportsView"
            name="Transport handler"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.rcp.views.mepfunctions.MEPFunctionsView"
            icon="icons/variable_view.gif"
            id="de.uniol.inf.is.odysseus.rcp.views.MEPFunctionsView"
            name="MEP Functions View"
            restorable="true">
      </view>
      <view
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.rcp.views.storedprocedures.StoredProceduresView"
            icon="icons/function.png"
            id="de.uniol.inf.is.odysseus.rcp.views.StoredProceduresView"
            name="Stored Procedures"
            restorable="true">
      </view>
      <view
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.rcp.views.ConsoleCommandView"
            icon="icons/gear.png"
            id="de.uniol.inf.is.odysseus.rcp.views.ConsoleCommandView"
            name="Console Command View"
            restorable="true">
      </view>
     </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.uniol.inf.is.odysseus.rcp.perspectives.QueriesPerspective"
            icon="icons/all-queries.png"
            id="de.uniol.inf.is.odysseus.rcp.perspectives.QueriesPerspective"
            name="Queries">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
     <command
            id="de.uniol.inf.is.odysseus.rcp.commands.RemoveQueryCommand"
            name="Remove Query">
         <commandParameter
               id="de.uniol.inf.is.odysseus.rcp.parameters.QueryIDParameter"
               name="QueryID Parameter"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="de.uniol.inf.is.odysseus.rcp.commands.StartQueryCommand"
            name="Start Query">
         <commandParameter
               id="de.uniol.inf.is.odysseus.rcp.parameters.QueryIDParameter"
               name="QueryID Parameter"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="de.uniol.inf.is.odysseus.rcp.commands.RestartQueryCommand"
            name="Restart Query">
         <commandParameter
               id="de.uniol.inf.is.odysseus.rcp.parameters.QueryIDParameter"
               name="QueryID Parameter"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="de.uniol.inf.is.odysseus.rcp.commands.StopQueryCommand"
            name="Stop Query">
         <commandParameter
               id="de.uniol.inf.is.odysseus.rcp.parameters.QueryIDParameter"
               name="QueryID Parameter"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="de.uniol.inf.is.odysseus.rcp.commands.SuspendQueryCommand"
            name="Suspend Query">
         <commandParameter
               id="de.uniol.inf.is.odysseus.rcp.parameters.QueryIDParameter"
               name="QueryID Parameter"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="de.uniol.inf.is.odysseus.rcp.commands.ResumeQueryCommand"
            name="Resume Query">
         <commandParameter
               id="de.uniol.inf.is.odysseus.rcp.parameters.QueryIDParameter"
               name="QueryID Parameter"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="de.uniol.inf.is.odysseus.rcp.commands.PartialQueryCommand"
            name="Partial Query (50)">
      </command>
      <command
            id="de.uniol.inf.is.odysseus.rcp.commands.NonPartialQueryCommand"
            name="Non-Partial Query">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.RefreshQueryViewCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.RefreshQueryViewCommand"
            name="Refresh Query View">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.QueryViewCopyCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.QueryViewCopyCommand"
            name="Query View Copy">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.LoginCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.LoginUserCommand"
            name="Login User">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.SendBugReportCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.SendBugReportCommand"
            name="Send Bug Report">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.DropSourceCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.DropSourceCommand"
            name="Drop Source">
         <commandParameter
               id="de.uniol.inf.is.odysseus.rcp.parameters.SourceNameParameter"
               name="Source Name"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.DropSinkCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.DropSink"
            name="Drop Sink">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.DropAllSinksCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.DropAllSinks"
            name="Drop All Sinks">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.DropAllSourcesCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.DropAllSources"
            name="Drop All Sources">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.ShowQueryTextCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.ShowQueryTextCommand"
            name="Show Query Text">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.StopAllQueriesCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.StopAllQueriesCommand"
            name="Stop all queries">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.StartAllQueriesCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.StartAllQueriesCommand"
            name="Start all queries">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.RestartAllQueriesCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.RestartAllQueriesCommand"
            name="Restart all queries">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.SuspendAllQueriesCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.SuspendAllQueriesCommand"
            name="Suspend all queries">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.ResumeAllQueriesCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.ResumeAllQueriesCommand"
            name="Resume all queries">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.RemoveAllQueriesCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.RemoveAllQueriesCommand"
            name="Remove all queries">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.ExpandSourcesViewCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.ExpandSourcesViewCommand"
            name="Expand Sources View">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.CollapseSourcesViewCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.CollapseSourcesViewCommand"
            name="Collapse Sources View">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.RefreshSourcesCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.RefreshSourcesViewCommand"
            name="Refresh Sources View">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.RefreshSinksViewCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.RefreshSinksViewCommand"
            name="Refresh Sinks View">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.RefreshMEPFunctionsViewCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.RefreshMEPFunctionsViewCommand"
            name="Refresh MEP Functions View">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.SetSortingInSourcesViewCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.SetSortingInSourcesViewCommand"
            name="Sort in SourcesView">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.DisableRefreshSourcesCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.DisableRefreshSourcesViewCommand"
            name="Disable Refreshing Sources View">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.RefreshStoredProceduresView"
            id="de.uniol.inf.is.odysseus.rcp.commands.RefreshStoredProceduresView"
            name="Refresh Stored Procedures View">
      </command>
      <command
            id="de.uniol.inf.is.odysseus.rcp.commands.DropStoredProcedure"
            name="Drop Stored Procedure">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.ExpandStoredProceduresViewCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.ExpandStoredProceduresView"
            name="Expand Stored Procedures">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.CollapseStoredProceduresViewCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.CollapseStoredProceduresView"
            name="Collapse Stored Procedures">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.DropAllStoredProceduresCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.DropAllStoredProcedures"
            name="Drop All Stored Procedures">
      </command>
    </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.uniol.inf.is.odysseus.rcp.views.SourcesView">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.DropSourceCommand"
               icon="icons/delete.png"
               id="DropSource"
               label="Drop source"
               style="push"
               tooltip="Drop source">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.DropAllSources"
               icon="icons/all-queries-delete.png"
               id="DropAllSources"
               label="Drop all sources"
               style="push"
               tooltip="Drop all sources">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.RefreshSourcesViewCommand"
               icon="icons/refresh.gif"
               label="Refresh"
               style="push"
               tooltip="Refresh">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.ExpandSourcesViewCommand"
               icon="icons/expandall.gif"
               label="Expand"
               style="push"
               tooltip="Expand All">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.CollapseSourcesViewCommand"
               icon="icons/collapseall.gif"
               label="Collapse All"
               style="push"
               tooltip="Collapse All">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.uniol.inf.is.odysseus.rcp.views.query.QueryView">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.RefreshQueryViewCommand"
               icon="icons/refresh.gif"
               label="Refresh"
               style="push">
         </command>
         <separator
               name="de.uniol.inf.is.odysseus.rcp.base.separator1"
               visible="true">
         </separator>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.StartQueryCommand"
               icon="icons/one-query-start.png"
               label="Start Query"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.RestartQueryCommand"
               icon="icons/one-query-restart.png"
               label="Restart Query"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.StopQueryCommand"
               icon="icons/one-query-stop.png"
               label="Stop Query"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.SuspendQueryCommand"
               icon="icons/one-query-suspend.png"
               label="Suspend Query"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.ResumeQueryCommand"
               icon="icons/one-query-resume.png"
               label="Resume Query"
               style="push">
         </command>
         <separator
               name="de.uniol.inf.is.odysseus.rcp.base.separator2"
               visible="true">
         </separator>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.StartAllQueriesCommand"
               icon="icons/all-queries-start.png"
               label="Start All Queries"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.RestartAllQueriesCommand"
               icon="icons/all-queries-restart.png"
               label="Restart All Queries"
               style="push"
               tooltip="Restarts all installed queries">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.StopAllQueriesCommand"
               icon="icons/all-queries-stop.png"
               label="Stop All Queries"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.SuspendAllQueriesCommand"
               icon="icons/all-queries-suspend.png"
               label="Suspend All Queries"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.ResumeAllQueriesCommand"
               icon="icons/all-queries-resume.png"
               label="Resume All Queries"
               style="push">
         </command>

         <separator
               name="de.uniol.inf.is.odysseus.rcp.base.separator4"
               visible="true">
         </separator>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.RemoveQueryCommand"
               icon="icons/one-query-delete.png"
               label="Remove Query"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.RemoveAllQueriesCommand"
               icon="icons/all-queries-delete.png"
               label="Remove All Queries"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:de.uniol.inf.is.odysseus.rcp.views.query.QueryView">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.StartQueryCommand"
               icon="icons/one-query-start.png"
               label="Start"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.RestartQueryCommand"
               icon="icons/one-query-restart.png"
               label="Restart"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.StopQueryCommand"
               icon="icons/one-query-stop.png"
               label="Stop"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.SuspendQueryCommand"
               icon="icons/one-query-suspend.png"
               label="Suspend"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.ResumeQueryCommand"
               icon="icons/one-query-resume.png"
               label="Resume"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.PartialQueryCommand"
               label="Partial (50)"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.NonPartialQueryCommand"
               label="Non-Partial"
               style="push">
         </command>
         <separator
               name="de.uniol.inf.is.odysseus.rcp.base.separator1"
               visible="true">
         </separator>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.RemoveQueryCommand"
               icon="icons/one-query-delete.png"
               label="Remove"
               style="push">
         </command>
         <separator
               name="Separator3"
               visible="true">
         </separator>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.QueryViewCopyCommand"
               icon="icons/page_white_copy.png"
               label="Copy Querytext"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.ShowQueryTextCommand"
               icon="icons/page_white_text.png"
               label="Show Querytext"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.CallGraphEditorCommand"
               icon="icons/graph.png"
               id="Show Query Plan"
               label="Show Query Plan"
               style="push">
         </command>
         <separator
               name="de.uniol.inf.is.odysseus.rcp.base.separator2"
               visible="true">
         </separator>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.RefreshQueryViewCommand"
               icon="icons/refresh.gif"
               label="Refresh List"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:file?after=new">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.LoginUserCommand"
               icon="icons/keys.png"
               label="Change User..."
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:help">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.SendBugReportCommand"
               icon="icons/document_gear.png"
               label="Send Bug Report"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.uniol.inf.is.odysseus.rcp.views.SinkView">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.DropAllSinks"
               icon="icons/all-queries-delete.png"
               label="Drop all sinks"
               style="push"
               tooltip="Drop all sinks">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.RefreshSinksViewCommand"
               icon="icons/refresh.gif"
               label="Refresh"
               style="push"
               tooltip="Refresh">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:de.uniol.inf.is.odysseus.rcp.views.SourcesView">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.DropSourceCommand"
               icon="icons/delete.png"
               label="Drop Source"
               style="push"
               tooltip="Drop the source">
            <visibleWhen
                  checkEnabled="true">
               <reference
                     definitionId="sourceIsSelected">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:de.uniol.inf.is.odysseus.rcp.views.SinkView">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.DropSink"
               icon="icons/delete.png"
               label="Drop Sink"
               style="push"
               tooltip="Drops selected sink">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.uniol.inf.is.odysseus.rcp.views.MEPFunctionsView">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.RefreshMEPFunctionsViewCommand"
               icon="icons/refresh.gif"
               label="Refresh"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.uniol.inf.is.odysseus.rcp.views.SourcesView?before=DropAllSources">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.SetSortingInSourcesViewCommand"
               icon="icons/sortAlpha.gif"
               label="Sort alphabetically"
               style="toggle">
         </command>
         <separator
               name="de.uniol.inf.is.odysseus.rcp.server.separator1"
               visible="true">
         </separator>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.DisableRefreshSourcesViewCommand"
               icon="icons/disable-refresh.gif"
               label="Disable Refresh"
               style="toggle">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=window">
         <menu
               id="show"
               label="Show">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/sinks.png"
                  label="Sinks"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="de.uniol.inf.is.odysseus.rcp.views.SinkView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/sources.png"
                  label="Sources"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="de.uniol.inf.is.odysseus.rcp.views.SourcesView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/all-queries.png"
                  label="Queries"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="de.uniol.inf.is.odysseus.rcp.views.query.QueryView">
               </parameter>
            </command>
            <separator
                  name="de.uniol.inf.is.odysseus.rcp.base.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/datahandlers.png"
                  label="Data Handler"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="de.uniol.inf.is.odysseus.rcp.views.DatasView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/protocolhandler.png"
                  label="Protocol Handler"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="de.uniol.inf.is.odysseus.rcp.views.ProtocolsView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/transports.png"
                  label="Transport Handler"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="de.uniol.inf.is.odysseus.rcp.views.TransportsView">
               </parameter>
            </command>
            <separator
                  name="de.uniol.inf.is.odysseus.rcp.base.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/variable_view.gif"
                  label="MEP Functions"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="de.uniol.inf.is.odysseus.rcp.views.MEPFunctionsView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/udf.png"
                  label="UDFs"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="de.uniol.inf.is.odysseus.rcp.views.UdfsView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/operator_details.png"
                  label="Operator Details"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="de.uniol.inf.is.odysseus.rcp.views.OperatorDetailView">
               </parameter>
            </command>
            <separator
                  name="de.uniol.inf.is.odysseus.rcp.base.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/function.png"
                  label="Stored Procedures"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="de.uniol.inf.is.odysseus.rcp.views.StoredProceduresView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/users.png"
                  label="Users"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="de.uniol.inf.is.odysseus.rcp.views.UserView">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="de.uniol.inf.is.odysseus.rcp.odysseus.views">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/sinks.png"
                  label="Sinks"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="de.uniol.inf.is.odysseus.rcp.views.SinkView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/sources.png"
                  label="Sources"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="de.uniol.inf.is.odysseus.rcp.views.SourcesView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/all-queries.png"
                  label="Queries"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="de.uniol.inf.is.odysseus.rcp.views.query.QueryView">
               </parameter>
            </command>
            <separator
                  name="access"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/datahandlers.png"
                  label="Data Handler"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="de.uniol.inf.is.odysseus.rcp.views.DatasView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/protocolhandler.png"
                  label="Protocol Handler"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="de.uniol.inf.is.odysseus.rcp.views.ProtocolsView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/transports.png"
                  label="Transport Handler"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="de.uniol.inf.is.odysseus.rcp.views.TransportsView">
               </parameter>
            </command>
            <separator
                  name="operators"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/variable_view.gif"
                  label="MEP Functions"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="de.uniol.inf.is.odysseus.rcp.views.MEPFunctionsView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/udf.png"
                  label="UDFs"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="de.uniol.inf.is.odysseus.rcp.views.UdfsView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/operator_details.png"
                  label="Operator Details"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="de.uniol.inf.is.odysseus.rcp.views.OperatorDetailView">
               </parameter>
            </command>
            <separator
                  name="dictionary"
                  visible="true">
            </separator>
			<command commandId="org.eclipse.ui.views.showView"
                  icon="icons/function.png"
                  label="Stored Procedures"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="de.uniol.inf.is.odysseus.rcp.views.StoredProceduresView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/users.png"
                  label="Users"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="de.uniol.inf.is.odysseus.rcp.views.UserView">
               </parameter>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.uniol.inf.is.odysseus.rcp.views.StoredProceduresView">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.DropAllStoredProcedures"
               icon="icons/delete.png"
               label="Drop All Stored Procedures"
               style="push"
               tooltip="Drop All Stored Procedures">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.RefreshStoredProceduresView"
               icon="icons/refresh.gif"
               label="Refresh"
               style="push"
               tooltip="Refresh">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.ExpandStoredProceduresView"
               icon="icons/expandall.gif"
               label="Expand"
               style="push"
               tooltip="Expand">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.CollapseStoredProceduresView"
               icon="icons/collapseall.gif"
               label="Collapse"
               style="push"
               tooltip="Collapse">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:de.uniol.inf.is.odysseus.rcp.views.StoredProceduresView">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.DropStoredProcedure"
               icon="icons/delete.png"
               label="Drop Stored Procedure"
               style="push"
               tooltip="Drop">
         </command>
      </menuContribution>
    </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="de.uniol.inf.is.odysseus.rcp.wizard.category"
            class="de.uniol.inf.is.odysseus.rcp.wizards.OdysseusProjectWizard"
            finalPerspective="de.uniol.inf.is.odysseus.rcp.perspectives.QueriesPerspective"
            icon="icons/OdysseusProjectIcon.png"
            id="de.uniol.inf.is.odysseus.rcp.wizards.OdysseusProjectWizard"
            name="Odysseus Project"
            project="true">
      </wizard>
      <category
            id="de.uniol.inf.is.odysseus.rcp.wizard.category"
            name="Odysseus">
      </category>
   </extension>
   <extension
         id="OdysseusProjectNature"
         name="Odysseus Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.uniol.inf.is.odysseus.rcp.natures.OdysseusProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/OdysseusProjectIconSmall.png"
            id="de.uniol.inf.is.odysseus.rcp.natures.OdysseusProjectNatureImage"
            natureId="de.uniol.inf.is.odysseus.rcp.base.OdysseusProjectNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="de.uniol.inf.is.odysseus.rcp.wizards.OdysseusProjectWizard">
         </newWizardShortcut>
      </perspectiveExtension>
     <perspectiveExtension
            targetID="de.uniol.inf.is.odysseus.rcp.perspectives.QueriesPerspective">
         <view
               id="de.uniol.inf.is.odysseus.rcp.views.SinkView"
               minimized="false"
               ratio="0.25f"
               relationship="bottom"
               relative="org.eclipse.ui.navigator.ProjectExplorer">
         </view>
         <view
               id="de.uniol.inf.is.odysseus.rcp.views.SourcesView"
               minimized="false"
               ratio="0.25f"
               relationship="bottom"
               relative="de.uniol.inf.is.odysseus.rcp.views.SinkView">
         </view>
         <view
               id="de.uniol.inf.is.odysseus.rcp.views.UserView"
               minimized="false"
               ratio="0.25f"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline">
         </view>
         <view
               closeable="true"
               id="de.uniol.inf.is.odysseus.rcp.views.OperatorDetailView"
               minimized="false"
               moveable="true"
               ratio="0.6f"
               relationship="bottom"
               relative="org.eclipse.ui.views.ContentOutline"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
    </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="de.uniol.inf.is.odysseus.rcp.wizards.OdysseusProjectWizard">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="de.uniol.inf.is.odysseus.rcp.startup.SplashHandler"
            id="de.uniol.inf.is.odysseus.rcp.base.splashHandler">
      </splashHandler>
      <splashHandlerProductBinding
            productId="de.uniol.inf.is.odysseus.rcp.starter.OdysseusStudio"
            splashId="de.uniol.inf.is.odysseus.rcp.base.splashHandler">
      </splashHandlerProductBinding>
      <splashHandlerProductBinding
            productId="de.uniol.inf.is.odysseus.client.starter.OdysseusStudioProduct"
            splashId="de.uniol.inf.is.odysseus.rcp.base.splashHandler">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="oneOrMoreQueryIsSelected">
         <with
               variable="selection">
            <not>
               <count
                     value="0">
               </count>
            </not>
            <with
                  variable="activePartId">
               <equals
                     value="de.uniol.inf.is.odysseus.rcp.views.query.QueryView">
               </equals>
            </with>
         </with>
      </definition>
      <definition
            id="sourceIsSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="de.uniol.inf.is.odysseus.core.planmanagement.ViewInformation">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="storedProcedureIsSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="de.uniol.inf.is.odysseus.core.procedure.StoredProcedure">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.uniol.inf.is.odysseus.rcp.commands.StartQueryCommand"
            commandId="de.uniol.inf.is.odysseus.rcp.commands.StartQueryCommand">
         <enabledWhen>
            <reference
                  definitionId="oneOrMoreQueryIsSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="de.uniol.inf.is.odysseus.rcp.commands.StopQueryCommand"
            commandId="de.uniol.inf.is.odysseus.rcp.commands.StopQueryCommand">
         <enabledWhen>
            <reference
                  definitionId="oneOrMoreQueryIsSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="de.uniol.inf.is.odysseus.rcp.commands.SuspendQueryCommand"
            commandId="de.uniol.inf.is.odysseus.rcp.commands.SuspendQueryCommand">
         <enabledWhen>
            <reference
                  definitionId="oneOrMoreQueryIsSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="de.uniol.inf.is.odysseus.rcp.commands.ResumeQueryCommand"
            commandId="de.uniol.inf.is.odysseus.rcp.commands.ResumeQueryCommand">
         <enabledWhen>
            <reference
                  definitionId="oneOrMoreQueryIsSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="de.uniol.inf.is.odysseus.rcp.commands.RestartQueryCommand"
            commandId="de.uniol.inf.is.odysseus.rcp.commands.RestartQueryCommand">
         <enabledWhen>
            <reference
                  definitionId="oneOrMoreQueryIsSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="de.uniol.inf.is.odysseus.rcp.commands.RemoveQueryCommand"
            commandId="de.uniol.inf.is.odysseus.rcp.commands.RemoveQueryCommand">
         <enabledWhen>
            <reference
                  definitionId="oneOrMoreQueryIsSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="de.uniol.inf.is.odysseus.rcp.commands.PartialQueryCommand"
            commandId="de.uniol.inf.is.odysseus.rcp.commands.PartialQueryCommand">
         <enabledWhen>
            <reference
                  definitionId="oneOrMoreQueryIsSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="de.uniol.inf.is.odysseus.rcp.commands.NonPartialQueryCommand"
            commandId="de.uniol.inf.is.odysseus.rcp.commands.NonPartialQueryCommand">
         <enabledWhen>
            <reference
                  definitionId="oneOrMoreQueryIsSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="de.uniol.inf.is.odysseus.rcp.commands.DropStoredProcedureCommand"
            commandId="de.uniol.inf.is.odysseus.rcp.commands.DropStoredProcedure">
         <enabledWhen>
            <reference
                  definitionId="storedProcedureIsSelected">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="de.uniol.inf.is.odysseus.rcp.LoginContribution">
      <loginContribution
            class="de.uniol.inf.is.odysseus.rcp.login.UsernameLoginContribution">
      </loginContribution>
   </extension>

</plugin>
