<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.user.command.LoginCommand"
            id="de.uniol.inf.is.odysseus.rcp.user.Login"
            name="Login User">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:file?after=new">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.user.Login"
               label="Change User..."
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
