<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.uniol.inf.is.odysseus.rcp.buildConfiguration" name="Query Build Configuration" schema="schema/de.uniol.inf.is.odysseus.rcp.buildConfiguration.exsd"/>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.uniol.inf.is.odysseus.rcp.StartUp"></startup>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.rcp.views.TenantView"
            icon="icons/users.png"
            id="de.uniol.inf.is.odysseus.rcp.views.TenantView"
            name="Tenants and Users"
            restorable="true">
      </view>
      <category
            id="Odysseus"
            name="Odysseus">
      </category>
      <view
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.rcp.views.SourcesViewPart"
            icon="icons/repository_rep.gif"
            id="de.uniol.inf.is.odysseus.rcp.views.SourcesView"
            name="Sources"
            restorable="true">
      </view>
      <view
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.rcp.views.QueryView"
            icon="icons/prop_ps.gif"
            id="de.uniol.inf.is.odysseus.rcp.views.QueryView"
            name="Queries"
            restorable="true">
      </view>
      <view
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.rcp.views.PartialPlanView"
            id="de.uniol.inf.is.odysseus.rcp.views.PartialPlanView"
            name="Partial Plan"
            restorable="true">
      </view>
      <view
            category="Odysseus"
            class="de.uniol.inf.is.odysseus.rcp.views.SinkViewPart"
            icon="icons/network-hub.png"
            id="de.uniol.inf.is.odysseus.rcp.views.SinkView"
            name="Sinks"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.uniol.inf.is.odysseus.rcp.perspectives.QueriesPerspective"
            id="de.uniol.inf.is.odysseus.rcp.perspectives.QueriesPerspective"
            name="Queries">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.RefreshSourcesCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.RefreshSourcesViewCommand"
            name="Refresh Sources View">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.ExpandSourcesViewCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.ExpandSourcesViewCommand"
            name="Expand Sources View">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.CollapseSourcesViewCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.CollapseSourcesViewCommand"
            name="Collapse Sources View">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.RemoveQueryCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.RemoveQueryCommand"
            name="Remove Query">
         <commandParameter
               id="de.uniol.inf.is.odysseus.rcp.parameters.QueryIDParameter"
               name="QueryID Parameter"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.StartQueryCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.StartQueryCommand"
            name="Start Query">
         <commandParameter
               id="de.uniol.inf.is.odysseus.rcp.parameters.QueryIDParameter"
               name="QueryID Parameter"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.RestartQueryCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.RestartQueryCommand"
            name="Restart Query">
         <commandParameter
               id="de.uniol.inf.is.odysseus.rcp.parameters.QueryIDParameter"
               name="QueryID Parameter"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.StopQueryCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.StopQueryCommand"
            name="Stop Query">
         <commandParameter
               id="de.uniol.inf.is.odysseus.rcp.parameters.QueryIDParameter"
               name="QueryID Parameter"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.RefreshQueryViewCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.RefreshQueryViewCommand"
            name="Refresh Query View">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.QueryViewCopyCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.QueryViewCopyCommand"
            name="Query View Copy">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.LoginCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.LoginUserCommand"
            name="Login User">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.RefreshSinksViewCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.RefreshSinksViewCommand"
            name="Refresh Sinks View">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.DropSourceCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.DropSourceCommand"
            name="Drop Source">
         <commandParameter
               id="de.uniol.inf.is.odysseus.rcp.parameters.SourceNameParameter"
               name="Source Name"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.commands.DropSinkCommand"
            id="de.uniol.inf.is.odysseus.rcp.commands.DropSink"
            name="Drop Sink">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.uniol.inf.is.odysseus.rcp.views.SourcesView">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.RefreshSourcesViewCommand"
               icon="icons/refresh.gif"
               label="Refresh"
               style="push"
               tooltip="Refresh">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.ExpandSourcesViewCommand"
               icon="icons/expandall.gif"
               label="Expand"
               style="push"
               tooltip="Expand All">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.CollapseSourcesViewCommand"
               icon="icons/collapseall.gif"
               label="Collapse All"
               style="push"
               tooltip="Collapse All">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.uniol.inf.is.odysseus.rcp.views.QueryView">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.RefreshQueryViewCommand"
               icon="icons/refresh.gif"
               label="Refresh"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:de.uniol.inf.is.odysseus.rcp.views.QueryView">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.StartQueryCommand"
               icon="icons/control_play_blue.png"
               label="Start Query"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.RestartQueryCommand"
               icon="icons/control_repeat_blue.png"
               label="Restart Query"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.StopQueryCommand"
               icon="icons/control_stop_blue.png"
               label="Stop Query"
               style="push">
         </command>
         <separator
               name="Separator1"
               visible="true">
         </separator>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.RemoveQueryCommand"
               icon="icons/delete.png"
               label="Remove Query"
               style="push">
         </command>
         <separator
               name="Separator3"
               visible="true">
         </separator>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.QueryViewCopyCommand"
               icon="icons/page_white_text.png"
               label="Copy Querytext"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.CallGraphEditorCommand"
               icon="icons/graph.jpg"
               label="Show Query Plan"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.RefreshQueryViewCommand"
               icon="icons/refresh.gif"
               label="Refresh"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:file?after=new">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.LoginUserCommand"
               label="Change User..."
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.uniol.inf.is.odysseus.rcp.views.SinkView">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.RefreshSinksViewCommand"
               icon="icons/refresh.gif"
               label="Refresh"
               style="push"
               tooltip="Refresh">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:de.uniol.inf.is.odysseus.rcp.views.SourcesView">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.DropSourceCommand"
               icon="icons/delete.png"
               label="Drop Source"
               style="push"
               tooltip="Drop the source">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:de.uniol.inf.is.odysseus.rcp.views.SinkView">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.DropSink"
               icon="icons/delete.png"
               label="Drop Sink"
               style="push"
               tooltip="Drops selected sink">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="de.uniol.inf.is.odysseus.rcp.wizard.category"
            class="de.uniol.inf.is.odysseus.rcp.wizards.OdysseusProjectWizard"
            finalPerspective="de.uniol.inf.is.odysseus.rcp.perspectives.QueriesPerspective"
            icon="icons/OdysseusProjectIcon.png"
            id="de.uniol.inf.is.odysseus.rcp.wizards.OdysseusProjectWizard"
            name="Odysseus Project"
            project="true">
      </wizard>
      <category
            id="de.uniol.inf.is.odysseus.rcp.wizard.category"
            name="Odysseus">
      </category>
   </extension>
   <extension
         id="OdysseusProjectNature"
         name="Odysseus Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.uniol.inf.is.odysseus.rcp.natures.OdysseusProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/OdysseusProjectIconSmall.png"
            id="de.uniol.inf.is.odysseus.rcp.natures.OdysseusProjectNatureImage"
            natureId="de.uniol.inf.is.odysseus.rcp.OdysseusProjectNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="de.uniol.inf.is.odysseus.rcp.wizards.OdysseusProjectWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="de.uniol.inf.is.odysseus.rcp.wizards.OdysseusProjectWizard">
         <enablement></enablement>
      </commonWizard>
   </extension>

</plugin>
