<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Odysseus"
            id="de.uniol.inf.is.odysseus.broker.console">
      </category>
      <view
            allowMultiple="false"
            category="de.uniol.inf.is.odysseus.broker.console"
            class="de.uniol.inf.is.odysseus.broker.console.views.OutputView"
            icon="icons/sample.gif"
            id="de.uniol.inf.is.odysseus.broker.console.views.OutputView"
            name="Odysseus Output View"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="de.uniol.inf.is.odysseus.broker.console.views.OutputView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
