<settings  xmlns="http://maven.apache.org/SETTINGS/1.0.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">
 <mirrors>
  <mirror>
   <id>mars_mirror</id>
   <mirrorOf>mars</mirrorOf>
   <name>Local mirror of Mars repository</name>
   <url>file://mnt/odynas/jenkins/repos/mars</url>
   <layout>p2</layout>
   <mirrorOfLayouts>p2</mirrorOfLayouts>
  </mirror>
  <mirror>
   <id>xtext_mirror</id>
   <mirrorOf>xtext</mirrorOf>
   <name>Local mirror of xtext repository</name>
   <url>file://mnt/odynas/jenkins/repos/tmf</url>
   <layout>p2</layout>
   <mirrorOfLayouts>p2</mirrorOfLayouts>
  </mirror>
 <mirror>
   <id>gef_mirror</id>
   <mirrorOf>gef</mirrorOf>
   <name>Local mirror of gef repository</name>
   <url>file://mnt/odynas/jenkins/repos/gef</url>
   <layout>p2</layout>
   <mirrorOfLayouts>p2</mirrorOfLayouts>
  </mirror>
  <mirror>
   <id>dropins_mirror</id>
   <mirrorOf>dropins</mirrorOf>
   <name>Local mirror of dropins repository</name>
   <url>file://mnt/odynas/jenkins/repos/dropins</url>
   <layout>p2</layout>
   <mirrorOfLayouts>p2</mirrorOfLayouts>
  </mirror>
 </mirrors>
</settings> 

