<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	 <extension
         point="de.uniol.inf.is.odysseus.rcp.DashboardPart">
      <dashboardPart
            class="de.uniol.inf.is.odysseus.rcp.dashboard.part.map.dashboard.MapDashboardPart"
            configClass="de.uniol.inf.is.odysseus.rcp.dashboard.part.map.dashboard.MapConfigurer"
            name="Map">
      </dashboardPart>
   </extension>
</plugin>
