<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.viewer.osgicommands.StartSchedulerCommand"
            id="de.uniol.inf.is.odysseus.rcp.viewer.osgicommands.StartScheduler"
            name="Start Scheduler">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.viewer.osgicommands.StopSchedulerCommand"
            id="de.uniol.inf.is.odysseus.rcp.viewer.osgicommands.StopScheduler"
            name="Stop Scheduler">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.viewer.osgicommands.NMSNCommand"
            id="de.uniol.inf.is.odysseus.rcp.viewer.osgicommands.NMSN"
            name="NMSN">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.rcp.viewer.osgicommands.NMQNCommand"
            id="de.uniol.inf.is.odysseus.rcp.viewer.osgicommands.NMQN"
            name="NMQN">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="OSGi Commands">
            <command
                  commandId="de.uniol.inf.is.odysseus.rcp.viewer.query.ShowQueryDialogCommand"
                  label="Add Query..."
                  style="push">
            </command>
            <command
                  commandId="de.uniol.inf.is.odysseus.rcp.viewer.osgicommands.StartScheduler"
                  label="Start Scheduler"
                  style="push">
            </command>
            <command
                  commandId="de.uniol.inf.is.odysseus.rcp.viewer.osgicommands.StopScheduler"
                  label="Stop Scheduler"
                  style="push">
            </command>
            <separator
                  name="Seperator"
                  visible="true">
            </separator>
            <command
                  commandId="de.uniol.inf.is.odysseus.rcp.viewer.osgicommands.NMSN"
                  label="Nexmark Example Sources"
                  style="push">
            </command>
            <command
                  commandId="de.uniol.inf.is.odysseus.rcp.viewer.osgicommands.NMQN"
                  label="Nexmark Example Queries"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
