<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.uniol.inf.is.odysseus.rcp.viewer.StreamEditor">
      <editor
            class="de.uniol.inf.is.odysseus.rcp.viewer.stream.table.StreamTable10Editor"
            icon="icons/application-table.png"
            id="de.uniol.inf.is.odysseus.rcp.viewer.stream.Table10"
            label="Table - Show last 10 elements">
      </editor>
      <editor
            class="de.uniol.inf.is.odysseus.rcp.viewer.stream.table.StreamTable20Editor"
            icon="icons/application-table.png"
            id="de.uniol.inf.is.odysseus.rcp.viewer.stream.Table20"
            label="Table - Show last 20 elements">
      </editor>
      <editor
            class="de.uniol.inf.is.odysseus.rcp.viewer.stream.table.StreamTable50Editor"
            icon="icons/application-table.png"
            id="de.uniol.inf.is.odysseus.rcp.viewer.stream.Table50"
            label="Table - Show last 50 elements">
      </editor>
      <editor
            class="de.uniol.inf.is.odysseus.rcp.viewer.stream.table.StreamTable500Editor"
            icon="icons/application-table.png"
            id="de.uniol.inf.is.odysseus.rcp.viewer.stream.Table500"
            label="Table - Show last 500 elements">
      </editor>
      <editor
            class="de.uniol.inf.is.odysseus.rcp.viewer.stream.table.StreamTable5000Editor"
            icon="icons/application-table.png"
            id="de.uniol.inf.is.odysseus.rcp.viewer.stream.Table5000"
            label="Table - Show last 5000 elements">
      </editor>
      <editor
            class="de.uniol.inf.is.odysseus.rcp.viewer.stream.table.StreamTableInfEditor"
            icon="icons/application-table.png"
            id="de.uniol.inf.is.odysseus.rcp.viewer.stream.TableInf"
            label="Table - Show all last elements">
      </editor>
      <editor
            class="de.uniol.inf.is.odysseus.rcp.viewer.stream.table.StreamTableTimeEditor"
            icon="icons/application-table.png"
            id="de.uniol.inf.is.odysseus.rcp.viewer.stream.TableTime"
            label="Table - Show recent observation point">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.uniol.inf.is.odysseus.rcp.commands.SelectAllFromSource"
            name="Select all from Source">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:de.uniol.inf.is.odysseus.rcp.views.SourcesView">
         <command
               commandId="de.uniol.inf.is.odysseus.rcp.commands.SelectAllFromSource"
               icon="icons/zoom.gif"
               label="Query source"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <reference
                     definitionId="sourceIsSelected">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.uniol.inf.is.odysseus.rcp.viewer.stream.table.commands.SelectAllFromSource"
            commandId="de.uniol.inf.is.odysseus.rcp.commands.SelectAllFromSource">
         <enabledWhen>
            <reference
                  definitionId="sourceIsSelected">
            </reference>
         </enabledWhen>
      </handler>
   </extension>

</plugin>
