/.CQLGeneratorMethodTest.java._trace
/.CQLGeneratorMethodTest.xtendbin
/.CQLGeneratorQueryTest.java._trace
/.CQLGeneratorQueryTest.xtendbin
/.CQLParserTestSuite.java._trace
/.CQLParserTestSuite.xtendbin
/.CQLParsingTest.java._trace
/.CQLParsingTest.xtendbin
/.ExpressionsTypeProviderTest.java._trace
/.ExpressionsTypeProviderTest.xtendbin
