<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.uniol.inf.is.odysseus.cep.cepviewer.CEPViewer"
            id="de.uniol.inf.is.odysseus.cep.cepviewer.cepviewer"
            name="CEP-Viewer">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.uniol.inf.is.odysseus.cep.cepviewer.CEPListView"
            id="de.uniol.inf.is.odysseus.cep.cepviewer.listview"
            name="ListView"
            restorable="true">
      </view>
      <view
            class="de.uniol.inf.is.odysseus.cep.cepviewer.CEPAutomataView"
            id="de.uniol.inf.is.odysseus.cep.cepviewer.automataview"
            name="AutomataView"
            restorable="true">
      </view>
      <view
            class="de.uniol.inf.is.odysseus.cep.cepviewer.CEPQueryView"
            id="de.uniol.inf.is.odysseus.cep.cepviewer.queryview"
            name="QueryView"
            restorable="true">
      </view>
      <view
            class="de.uniol.inf.is.odysseus.cep.cepviewer.CEPStateView"
            id="de.uniol.inf.is.odysseus.cep.cepviewer.stateview"
            name="StateView"
            restorable="true">
      </view>
      <view
            class="de.uniol.inf.is.odysseus.cep.cepviewer.CEPSymbolView"
            id="de.uniol.inf.is.odysseus.cep.cepviewer.symboltableview"
            name="SymbolTableView"
            restorable="true">
      </view>
      <view
            class="de.uniol.inf.is.odysseus.cep.cepviewer.CEPTraceView"
            id="de.uniol.inf.is.odysseus.cep.cepviewer.matchingtraceview"
            name="MatchingTraceView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.uniol.inf.is.odysseus.cep.cepviewer.cepviewer">
         <view
               closeable="true"
               id="de.uniol.inf.is.odysseus.cep.cepviewer.listview"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               closeable="true"
               id="de.uniol.inf.is.odysseus.cep.cepviewer.automataview"
               minimized="false"
               ratio="0.75"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               closeable="true"
               id="de.uniol.inf.is.odysseus.cep.cepviewer.queryview"
               minimized="false"
               ratio="0.7"
               relationship="bottom"
               relative="de.uniol.inf.is.odysseus.cep.cepviewer.automataview">
         </view>
         <view
               closeable="true"
               id="de.uniol.inf.is.odysseus.cep.cepviewer.stateview"
               minimized="false"
               relationship="stack"
               relative="de.uniol.inf.is.odysseus.cep.cepviewer.queryview">
         </view>
         <view
               closeable="true"
               id="de.uniol.inf.is.odysseus.cep.cepviewer.symboltableview"
               minimized="false"
               relationship="stack"
               relative="de.uniol.inf.is.odysseus.cep.cepviewer.queryview">
         </view>
         <view
               closeable="true"
               id="de.uniol.inf.is.odysseus.cep.cepviewer.matchingtraceview"
               minimized="false"
               relationship="stack"
               relative="de.uniol.inf.is.odysseus.cep.cepviewer.queryview">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.uniol.inf.is.odysseus.cep.cepviewer.command.AddCommand"
            id="de.uniol.inf.is.odysseus.cep.cepviewer.addcommand"
            name="Add to CEPViewer">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.cep.cepviewer.command.CollapseAllCommand"
            id="de.uniol.inf.is.odysseus.cep.cepviewer.collapseall"
            name="Collapse all">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.cep.cepviewer.command.ExpandAllCommand"
            id="de.uniol.inf.is.odysseus.cep.cepviewer.expandall"
            name="Expand all">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.cep.cepviewer.command.RemoveAllCommand"
            id="de.uniol.inf.is.odysseus.cep.cepviewer.removeall"
            name="Remove all">
      </command>
      <command
            defaultHandler="de.uniol.inf.is.odysseus.cep.cepviewer.command.RemoveCommand"
            id="de.uniol.inf.is.odysseus.cep.cepviewer.remove"
            name="Remove">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:de.uniol.inf.is.odysseus.rcp.viewer.view.GraphEditor">
         <command
               commandId="de.uniol.inf.is.odysseus.cep.cepviewer.addcommand"
               label="Add to CEPViewer"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:de.uniol.inf.is.odysseus.cep.cepviewer.listview">
         <command
               commandId="de.uniol.inf.is.odysseus.cep.cepviewer.removeall"
               icon="META-INF/icons/RemoveAll.gif"
               label="Remove all"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.cep.cepviewer.expandall"
               icon="META-INF/icons/ExpandAll.gif"
               label="Expand all"
               style="push">
         </command>
         <command
               commandId="de.uniol.inf.is.odysseus.cep.cepviewer.collapseall"
               icon="META-INF/icons/CollapseAll.gif"
               label="Collapse all"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.uniol.inf.is.odysseus.cep.cepviewer.listview">
         <command
               commandId="de.uniol.inf.is.odysseus.cep.cepviewer.remove"
               label="Remove"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
