<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.uniol.inf.is.odysseus.cep.cepviewer.CEPViewer"
            id="de.uniol.inf.is.odysseus.cep.cepviewer.cepviewer"
            name="CEP-Viewer">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.uniol.inf.is.odysseus.cep.cepviewer.CEPListView"
            id="de.uniol.inf.is.odysseus.cep.cepviewer.listview"
            name="ListView"
            restorable="true">
      </view>
      <view
            class="de.uniol.inf.is.odysseus.cep.cepviewer.CEPAutomataView"
            id="de.uniol.inf.is.odysseus.cep.cepviewer.automataview"
            name="AutomataView"
            restorable="true">
      </view>
      <view
            class="de.uniol.inf.is.odysseus.cep.cepviewer.CEPQueryView"
            id="de.uniol.inf.is.odysseus.cep.cepviewer.queryview"
            name="QueryView"
            restorable="true">
      </view>
      <view
            class="de.uniol.inf.is.odysseus.cep.cepviewer.CEPStateView"
            id="de.uniol.inf.is.odysseus.cep.cepviewer.stateview"
            name="StateView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="de.uniol.inf.is.odysseus.cep.cepviewer.listview"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               closeable="false"
               id="de.uniol.inf.is.odysseus.cep.cepviewer.automataview"
               minimized="false"
               ratio="0.75"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               closeable="false"
               id="de.uniol.inf.is.odysseus.cep.cepviewer.queryview"
               minimized="false"
               ratio="0.25"
               relationship="bottom"
               relative="de.uniol.inf.is.odysseus.cep.cepviewer.automataview">
         </view>
         <view
               closeable="false"
               id="de.uniol.inf.is.odysseus.cep.cepviewer.stateview"
               minimized="false"
               relationship="stack"
               relative="de.uniol.inf.is.odysseus.cep.cepviewer.queryview">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.uniol.inf.is.odysseus.cep.cepviewer.command.AddCommand"
            id="de.uniol.inf.is.odysseus.cep.cepviewer.addcommand"
            name="Add to CEPViewer">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:de.uniol.inf.is.odysseus.rcp.viewer.view.GraphEditor">
         <command
               commandId="de.uniol.inf.is.odysseus.cep.cepviewer.addcommand"
               label="Add to CEPViewer"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
