<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.uniol.inf.is.odysseus.cep.cepviewer.CEPPerspective"
            id="cepviewer.perspective"
            name="CEP-Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.uniol.inf.is.odysseus.cep.cepviewer.CEPListView"
            id="cepviewer.listView"
            name="ListView"
            restorable="true">
      </view>
      <view
            class="de.uniol.inf.is.odysseus.cep.cepviewer.CEPAutomataView"
            id="cepviewer.automataView"
            name="AutomataView"
            restorable="true">
      </view>
      <view
            class="de.uniol.inf.is.odysseus.cep.cepviewer.CEPQueryView"
            id="cepviewer.queryView"
            name="QueryView"
            restorable="true">
      </view>
      <view
            class="de.uniol.inf.is.odysseus.cep.cepviewer.CEPStateView"
            id="cepviewer.stateView"
            name="StateView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="cepviewer.listView"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               closeable="false"
               id="cepviewer.automataView"
               minimized="false"
               ratio="0.75"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               closeable="false"
               id="cepviewer.queryView"
               minimized="false"
               ratio="0.25"
               relationship="bottom"
               relative="cepviewer.automataView">
         </view>
         <view
               closeable="false"
               id="cepviewer.stateView"
               minimized="false"
               relationship="stack"
               relative="cepviewer.queryView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
