/.IStreamingSparqlParser.java._trace
/.IStreamingSparqlParser.xtendbin
/.StreamingSparqlParser.java._trace
/.StreamingSparqlParser.xtendbin
/.StreamingSparqlTriplePatternMatching.java._trace
/.StreamingSparqlTriplePatternMatching.xtendbin
/.StreamingsparqlGenerator.java._trace
/.StreamingsparqlGenerator.xtendbin
/.TripleToJoin.java._trace
/.TripleToJoin.xtendbin

